@mixin fontdef($OpenSansPath, $OpenSansVersion, $FontType:"Regular") {
  src:  url('#{$OpenSansPath}/OpenSans-#{$FontType}.eot?v=#{$OpenSansVersion}');
  src:  url('#{$OpenSansPath}/OpenSans-#{$FontType}.eot?#iefix&v=#{$OpenSansVersion}') format('embedded-opentype'),
        url('#{$OpenSansPath}/OpenSans-#{$FontType}.woff2?v=#{$OpenSansVersion}') format('woff2'),
        url('#{$OpenSansPath}/OpenSans-#{$FontType}.woff?v=#{$OpenSansVersion}') format('woff'),
        url('#{$OpenSansPath}/OpenSans-#{$FontType}.ttf?v=#{$OpenSansVersion}') format('truetype'),
        url('#{$OpenSansPath}/OpenSans-#{$FontType}.svg?v=#{$OpenSansVersion}##{$FontType}') format('svg');
}
