$icon-font-path: '../fonts/';

// From: huisstijl.deltares.nl

$deltares-blauw: #008fc5;
$deltares-metallic: #92b6c7;
$deltares-zand: #a09e8d;
$deltares-cyaan: #00c4d6;
$deltares-oranje: #ff7200;
$deltares-groen: #b4d300;
$deltares-cyclaam: #eb0073;
$white: #fff;
$black: #000;


$brand-primary: $deltares-blauw;
$brand-info: $deltares-metallic;
$brand-success: $deltares-groen;
$brand-warning: $deltares-oranje;
$brand-danger: $deltares-cyclaam;
$body-bg: lighten($black, 33.5%);

/* This part is wiredepped
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower:scss
*/

// it's better to include the main package
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap';


// Color variables, we use automatic colors for hover based upon these

$cell-padding: 6px;
$row-height: 32px;
$row-color-finished: #e5ffca;
$row-color-warning: #fffbca;
$row-color-error: #ffcaca;
$row-color-even: #efefef;
$row-color-odd: #f7f7f7;


// Make object shadowed.
@mixin shadowed() {
  box-shadow: 0 0 32px 0 $gray-dark;

}

// Do disable round borders on an element
@mixin rectangle-corners() {
  border-radius: 0;
}

@mixin status-colors() {
  &.completed {


    background-color: $row-color-finished;

    &:hover {
      background-color: mix($row-color-finished, $white, 50%);
    }
  }

  &.warning {
    background-color: $row-color-warning;

    &:hover {
      background-color: mix($row-color-warning, $white, 50%);
    }
  }

  &.error {
    background-color: $row-color-error;

    &:hover {
      background-color: mix($row-color-error, $white, 50%);
    }
  }
}


// Force a scrollbar so we do not have center changes when it shows up because of content changes.
html {
  overflow-y: scroll;
}

.container {
  // we don't have a header menu so we use the margin-top of the container to give it a bit of space on the top
  margin-top: 32px;
}

.alert {
  @include rectangle-corners();
}

.btn {
  @include rectangle-corners();

  // Give a bit of space when inside a row.
  &.inside-cell
  {
    margin : 3px;
  }
}

.panel {
  @include rectangle-corners();
  @include shadowed();
}

// Override rounded corners, default bootstrap style
.input-group-addon {
  @include rectangle-corners();
}

.footer {
  margin: 8px 0 0;
}

.btn-logout {
  padding-right: 16px;
  vertical-align: top;
}

.heading-bar {
  background-color: #e1e1e1;
  color: #5d5d5d;

  padding: 10px 0 10px 32px;

  h2 {
    margin: 0;
  }

  .site-title {
    font-size: 32px;

    img {
      margin-right: 32px;
    }

    // The title bar is also a link to home
    a {
      text-decoration: none;
      color: #5d5d5d;
    }
  }

}

.table-default {
  margin-bottom: 32px;
  width: 100%;

  td  {
    border: 1px solid #c2c3c6;
    height: $row-height;

    &.centered
    {
      text-align: center;
    }
          
  }

  thead {
    th {
      height: $row-height;
      background-color: #d9d9d9;
      border: 1px solid #cecece;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }

  tbody {

    td {
      padding-left: $cell-padding;


    }

    tr {
      &.clickable
      {
        cursor:pointer;
      }
    }
    tr:nth-child(odd) {
      background-color: $row-color-even;

      &:hover {
        background-color: mix($row-color-even,$white, 50%);
      }

      @include status-colors();
    }

    tr:nth-child(even) {
      background-color: $row-color-odd;

      &:hover {
        background-color: mix($row-color-odd, $white, 50%);
      }

      @include status-colors();
    }

    // Progressbars in cell are a bit different than Bootstrap ones:
    .progress-incell
    {
      margin: 4px;
       @include rectangle-corners();
    }
  }
}

.input-group-addon-info {
  background-color: #efefef;
}

.input-group {
  margin-bottom: 16px;

  // Color when a field is not valid.
  &.error {
    span {
      background-color: $row-color-error;
    }

    input {
      background-color: mix($row-color-error, $white, 50%);
    }
  }

}


.model-information
{
  padding: 4px 0px 0px 32px;
  

  h2
  {
    margin-top: 0px;
  }
}


#model-log-output-container
{
 
  
  padding: 4px;
  
 
  #model-log-output-wrap
  {
    border: 1px solid  #e5e5e5;
    overflow: scroll;
    padding: 8px;
  }

  #model-log-output
  {

    background-color: transparent;
    color: $gray-dark;
    white-space: pre-line;
    word-break: normal;
    word-wrap: normal;
  }
}


.column-actions {
  width: 10%;
  text-align: center;
}


.item-group-title {
  font-weight: bold;
  min-width: 160px;
}

.default-hidden {
  display: none;
}

// Fix for bootstrap issue
// http://stackoverflow.com/questions/19960162/bootstrap-3-modal-fires-and-causes-page-to-shift-to-the-left-momentarily-brows
.modal-open[style]
{
  padding-right: 0px !important;
}

/* Left nav */

  
  nav.sidebar, .main
  {
    margin-top: 12px;

    @include rectangle-corners();
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }



    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    // No bottom for last item.
    nav.sidebar .navbar-nav > li:last-child{
      border-bottom:0px;
    }


    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }



    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
 
 /* End left nav */