// scss-lint:disable Comment, NestingDepth, IdSelector, QualifyingElement, SelectorDepth

$icon-font-path: '../fonts/';

// From: huisstijl.deltares.nl

$builder-form-row: #d6d6ce;

$deltares-blauw: #008fc5;
$deltares-metallic: #92b6c7;
$deltares-zand: #a09e8d;
$deltares-cyaan: #00c4d6;
$deltares-oranje: #ff7200;
$deltares-groen: #b4d300;
$deltares-cyclaam: #eb0073;
$white: #f3f3f3;
$gray-light: #ccc;
$black: #070707;
$dark-gray: #ccc;
$standard-button-background: #008bbf;

$color-details-column: $white;
$color-scenario-column: #ddd;
$color-runs-column: #eee;

$brand-primary: $deltares-blauw;
$brand-info: $deltares-metallic;
$brand-success: $deltares-groen;
$brand-warning: $deltares-oranje;
$brand-danger: $deltares-cyclaam;
$body-bg: $white;

// TODO: base on gray and brand colors:
$row-color-finished: #e5ffca;
$row-color-warning: #fffbca;
$row-color-error: #ffcaca;
$row-color-even: #efefef;
$row-color-odd: #f7f7f7;
$selected-item-color: #dae4d1;
$row-border-color: $gray-light;
$state-completed: #6ca15e;
$state-pending: $gray-light;
$state-processing: #7facc5;
$box-shadow-color: rgba(0, 0, 0, .075);


// Colors from Bert's design:
$model-list-background: #f1f1ee;
$scenario-info-border: #f1f1ee;
$scenario-item-background: #e5f3f8;
$scenario-selected-border: #008bbf;
$scenario-selected-background: #008bbf;
$search-domain-selected: #008bbf;
$panel-background: #dfdfda;
$slider-handle-border: #999;
$progress-bar-color: #c44;
$badge-color-unselected: #989a9a;
$navigation-button-background: #999;
$navigation-button-background-default: #008bbf;

$color-left-column-background: #dfdfda;
$color-middle-column-background: #f1f1ee;
$color-right-column-background: #fff;

$shadow-color: rgba(0, 0, 0, .15);

$world-scenario-item-background: $scenario-item-background;
$world-scenario-selected-border: $scenario-selected-border;
$world-scenario-item-selected-background: $scenario-selected-background;

$company-scenario-item-background: $scenario-item-background;
$company-scenario-selected-border: $scenario-selected-border;
$company-scenario-item-selected-background: $scenario-selected-background;


/* This part is wiredepped
// bower:scss
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'bower_components/font-awesome/scss/font-awesome.scss';
// endbower:scss
*/

// it's better to include the main package
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bower_components/font-awesome/scss/font-awesome';
@import 'bower_components/open-sans-fontface/sass/open-sans.scss';


/* Utilities */
// Make object shadowed.
@mixin shadowed() {
  box-shadow: 0 0 32px 0 $gray-dark;

}



// Fill max height.
@mixin fill {
  height: calc(100vh - 116px);
}

// Truncate a line of text with elli...
@mixin truncate {

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Disable text selection of element(s)
@mixin unselectable {
  // Disabling prefixes, but leaving them for a moment to see if all goes well.
  //-moz-user-select: none;
  //-khtml-user-select: none;
  //-webkit-user-select: none;

  /*
  Introduced in IE 10.
  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  //-ms-user-select: none;
  user-select: none;
}


@mixin status-colors() {
  &.completed {


    background-color: $row-color-finished;

    &:hover {
      background-color: mix($row-color-finished, $white, 50%);
    }
  }

  &.warning {
    background-color: $row-color-warning;

    &:hover {
      background-color: mix($row-color-warning, $white, 50%);
    }
  }

  &.error {
    background-color: $row-color-error;

    // No highlight for errors. (so same color)
    &:hover {
      background-color: $row-color-error;
    }
  }
}


// COlor for the model state (processing, pending, completed, error?)
@mixin model-state-colors() {

  &.processing {
    background-color: $state-processing;
  }

  &.pending {
    background-color: $state-pending;
  }

  &.completed {
    background-color: $state-completed;
  }

}


// Color variables, we use automatic colors for hover based upon these

$cell-padding: 6px;
$row-height: 32px;

// Default font:
body {
 font-family: "Open Sans";
}


.fa-top-right {
  font-size: small;
  left: 1em;
  top: -1em;
}


.btn {
  // Give a bit of space when inside a row.
  &.inside-cell {
    margin: 3px;
  }
}


// Override rounded corners, default bootstrap style
.input-group-addon {
  min-width: 80px;
}


.form-control {

  font-size: 11px;



  &.no-fixed-height {
    height: auto;
  }
}

input[type=date].form-control {
  padding: 2px 0 2px 4px;
}



/* Search results list */


.search-results {

  padding: 8px;


  .scenario-name {
    font-size: 16px;
    font-weight: 600;

    .glyphicon {
      font-size: 14px;
    }
  }

  .run-name {
    font-size: 12px;
    font-weight: 600;

  }

  .scenario {
    background-color: $scenario-item-background;
    border: 2px solid $scenario-selected-border;
    min-height: 64px;

    // Special coloring for the fixed scenario groups.
    &.worldscenario {
      border-color: $world-scenario-selected-border;
      background-color: $world-scenario-item-background;
    }

    &.companyscenario {
      border-color: $company-scenario-selected-border;
      background-color: $company-scenario-item-background;
    }

  }

  .scenario-info {
    border-bottom: 1px solid $scenario-info-border;
    min-height: 64px;
    padding: 4px 4px 8px 8px;
  }

  .run {
    background-color: $white;
    color: $black;
    min-height: 64px;
    padding: 4px 4px 8px 8px;
    position: relative;

    &:hover {
      background-color: darken($white, 2%);
    }
  }

  .matched-vars {
    margin-bottom: 0;
    margin-top: 14px;
  }

  .progress-holder {

    float: right;
    font-size: 10px;
    font-weight: 800;
    margin-right: 32px;
    text-align: left;
    width: 85px;

    .progress {
      background-color: $dark-gray;
      height: 6px;
      margin-bottom: 0;
    }

    .progress-bar {
      //-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
      //-webkit-transition: width .6s ease;
      background-color: $progress-bar-color;
      box-shadow: inset 0 -1px 0 $shadow-color;
      transition: width .6s ease;
    }


  }



  .badge {


    background-color: transparent;
    border: 1px solid $badge-color-unselected;

    border-radius: 8px;
    color: $badge-color-unselected;
    font-size: 10px;
    height: 18px;
    line-height: 10px;
    vertical-align: middle;
  }

  .share-status {

    background-repeat: no-repeat;

    display: inline-block;
    height: 21px;
    margin-left: 4px;
    text-align: left;
    vertical-align: bottom;
    width: 21px;

    // Icons as SVG
    &.private {
      background-image: url('../images/ui/sm-private-black.png');
    }

    &.public {
      background-image: url('../images/ui/sm-public-black.png');
    }

    &.company {
      background-image: url('../images/ui/sm-company-black.png');
    }

  }

  // Arrow shown at right of list
  .arrow-right {
    position: absolute;
    right: 8px;
    top: 32px;
  }

  .scenario.selected {
    background-color: $scenario-selected-background;
    color: $white;

    // Special coloring for the fixed scenario groups.
    &.worldscenario {
      background-color: $world-scenario-item-selected-background;
    }

    &.companyscenario {
      background-color: $company-scenario-item-selected-background;
    }

  }

  // When an item is selected some things change. that happens here
  .run.selected {

    background-color: $scenario-selected-background;
    color: $white;



    .share-status {
      &.private {
        background-image: url('../images/ui/sm-private-white.png');
      }

      &.public {
        background-image: url('../images/ui/sm-public-white.png');
      }

      &.company {
        background-image: url('../images/ui/sm-company-white.png');
      }

    }

    .badge {
      border: 1px solid $white;
      color: $white;
    }

    &:hover {
      background-color: lighten($scenario-selected-background, 2%);
    }
  }

    // Special coloring for the fixed scenario groups.
    .worldscenario {
      .run.selected {

        background-color: $world-scenario-item-selected-background;
      }
    }

    .companyscenario {
       .run.selected {
          background-color: $company-scenario-item-selected-background;
       }
    }


}



/* End */


.clear-left {
  clear: left;
}

.footer {
  margin: 8px 0 0;
}

.navbar-header .btn {
  vertical-align: middle;
}


.navbar-brand {
  height: 80px;
  padding: 0;

  img {
    height: 100%;
  }
}

.navbar-static-top {
  // no borders pls
  border: 0;

  margin: 0;

  // Span over all available width
  // unit vw gives a h-scrollbar(!)
  width: 100%;


  .navbar-right {
    /* same make buttons fit in the line so they align properly */
    line-height: 50px;
    // by default buttons stick all the way to the right
    margin-right: 0;
    // Hack to outline buttons with main text
    margin-top: 5px;
  }

  .navbar-btn {
    // smaller button margins than default nav-btns
    margin-left: 6px;
    padding: 6px 12px;
  }

  .navbar-nav li {
    // 2*15px margin
    h3 {
      line-height: 1;
      margin: 0;
    }
  }

}

#top-bar {
  .navbar-btn {

    background-color: $standard-button-background;

    &:hover {
      background-color: lighten($standard-button-background, 5%);
    }
  }
}

.heading-bar {
  font-weight: 600;
  height: 32px;
  line-height: 32px;
}

// Force truncate of long names in right detail panel.
#column-run-details .heading-bar {
  @include truncate();
}

.tool-bar {
  height: 32px;
  margin-bottom: 0;
  min-height: 32px;

  .btn {
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 1;
    margin-top: 10px;

    &.nav-bar-button {

      background-color: $navigation-button-background;
      border: 0;
      color: $white;
      font-weight: normal;
      height: 28px;
      margin: 2px;
    }

    &.default {
      background-color: $navigation-button-background-default;
    }
  }


}

// Scenario list
.column-scenario-list {
  background-color: $color-scenario-column;
}

// Runs list
.column-runs-list {
  background-color: $color-runs-column;
}

// Detail view
.column-details.column {
  background-color: $color-details-column;
}


.full-height {
  @include fill();
}

// Columns in the design
.column {
  @include fill();
  // Scroll columns (assumes some vertical height set)
  overflow-y: auto;
}



// Generic disabled element
.inputdisabled {

  color: $gray-dark;
  pointer-events: none;

  // Textbox gets a gray background and border
  &input[type='text'] {
    background: $gray-lighter;
    border-color: $gray-light;
  }

}

.btn  {
  &.inputdisabled {
    color: $gray-lighter;
  }

}


.disabledpointer {
  cursor: not-allowed;
}

.table-default {
  margin-bottom: 32px;
  width: 100%;

  .error {
    background-color: $row-color-error;
  }

  td {
    border: 1px solid $row-border-color;
    height: $row-height;

    &.centered {
      text-align: center;
    }

    &.cell-zero-padding {
      padding: 0;
    }

  }

  thead {
    th {
      background-color: $gray-lighter;
      border: 1px solid $gray-light;
      font-size: 12px;
      font-weight: bold;
      height: $row-height;
      text-align: center;
      text-transform: uppercase;
    }
  }

  tbody {

    td {
      padding-left: $cell-padding;
    }

    tr {
      &.clickable {
        cursor: pointer;
      }
    }

    tr:nth-child(odd) {
      @include status-colors();
      background-color: $row-color-even;

      &:hover {
        background-color: mix($row-color-even, $white, 50%);
      }
    }

    tr:nth-child(even) {
      @include status-colors();
      background-color: $row-color-odd;

      &:hover {
        background-color: mix($row-color-odd, $white, 50%);
      }
    }

    // Progressbars in cell are a bit different than Bootstrap ones:
    .progress-incell {
      margin: 4px;
    }

    .progress-type {
      color: $white;
    }

  }
}

.scenariobuilder-schematic {
  max-width: 80%;
}


.animation-frame {
  // Height should be smaller than max viewport height:
  // Such that it will fit on smaller screens.
  max-height: 60vh;

  max-width: 100%;
}

// Based upon btn but without all the hover fx, etc
.animframeindicator {
  display: inline-block;
  float: left;
  margin-left: 4px;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
}

.model-information {
  padding: 4px 0 0 32px;


  h2 {
    margin-top: 0;
  }
}



#model-log-output-wrap {
  border: 1px solid  $gray-lighter;
  max-height: 400px;
  overflow: auto;
  padding: 8px;

  // Rectangle borders:
  pre {
    border-radius: 0;
  }

}

#model-log-output {

  background-color: transparent;
  color: $gray-dark;
  white-space: pre-line;
  word-break: normal;
  word-wrap: normal;
}


.column-actions {
  text-align: center;
  width: 10%;
}


.item-group-title {
  font-weight: bold;
  min-width: 160px;
}

.default-hidden {
  display: none;
}

// Fix for bootstrap issue
// http://stackoverflow.com/questions/19960162/bootstrap-3-modal-fires-and-causes-page-to-shift-to-the-left-momentarily-brows
.modal {
  overflow-y: auto;
}

.modal-open {
  overflow: auto;
}



.column-header {
  border-bottom: 1px solid $gray-light;

}

.message-alert {
  margin: 0;
}

/* Left nav */

nav.sidebar,
.main {
  margin-top: 12px;
  transition: margin 200ms ease-out;
}

.main {
  padding: 10px 10px 0;
}

// Some helper functions:

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-minheight {
  min-height: initial;
}

.centered {
  margin: 0 auto;
}

.max-width {
  width: 100%;
}

.vertical-align {
  vertical-align: middle;
}

.row-top-margin {
  margin-top: 32px;
}


@media (min-width: 765px) {
  .main {
    float: right;
    margin-left: 40px;
    position: absolute;
    width: calc(100% - 40px);
  }

  nav.sidebar:hover + .main {
    margin-left: 200px;
  }

  nav.sidebar .navbar-brand,
  nav.sidebar .navbar-header {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }

  nav.sidebar a {
    padding-right: 13px;
  }

  nav.sidebar .navbar-nav > li {
    border-bottom: 1px $gray-lighter solid;
  }

  // No bottom for last item.
  nav.sidebar .navbar-nav > li:last-child {
    border-bottom: 0;
  }


  nav.sidebar .navbar-nav .open .dropdown-menu {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    float: none;
    margin-top: 0;
    position: static;
    width: auto;
  }



  nav.sidebar .navbar-collapse,
  nav.sidebar .container-fluid {
    padding: 0;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: $black;
  }

  // Disabled style for dropdowns.
  .dropdown-menu > li > a {

    &.inputdisabled {
      color: $gray-light;
    }
  }

  nav.sidebar {
    float: left;
    height: 100%;
    margin-bottom: 0;
    width: 200px;
  }

  nav.sidebar li {
    width: 100%;
  }

  nav.sidebar:hover {
    margin-left: 0;
  }

}

@media (min-width: 1330px) {

  .main {
    margin-left: 200px;
    width: calc(100% - 200px);
  }

  nav.sidebar {
    float: left;
    margin-left: 0;
  }

  nav.sidebar .for-animate {
    opacity: 1;
  }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover,
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  background-color: transparent;
  color: $black;
}

nav:hover .for-animate {
  opacity: 1;
}

section {
  padding-left: 15px;
}


.bootstrap-tagsinput {
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
  @include box-shadow(inset 0 1px 1px $box-shadow-color);
  border: 1px solid $input-border;
  width: 100%;
}

/* End left nav */


/* Components */


.finder-columns,
.search-columns {
  .column {
    /* 1 px for the border */
    padding-left: 0;
    padding-right: 0;
  }

  #results-info {
    font-size: 14px;
  }

  #results-info-stats {
    font-size: 12px;
  }

  #column-search-details {
    background-color: $color-left-column-background;
  }

  #column-search-results {
    background-color: $color-middle-column-background;
  }

  #column-run-details {
    background-color: $color-right-column-background;
  }

}

/* thes only apply to the scenario builder (no labels on bars) */
.scenario-builder {
  .slider {

    .irs {
      height: 30px;
      margin-right: 6px;
    }

    .irs-line,
    .irs-bar,
    .irs-bar-edge {
      top: 10px;
    }

    .irs-slider.single {
      top: 7px;
    }

    .input-group-addon {
      border-left: 1px solid $gray-light;
    }
  }

}

.search-details {

  background-color: $panel-background;

  .panel {
    background-color: $panel-background;
  }

  .panel-title {
    font-size: 11px;
  }

  .control-label,
  label {
    font-size: 11px;
    font-weight: normal;
  }


  .panel-heading {
    background-color: transparent;

  }

  .domain-search-boxes {

    @include unselectable();

     // Hide the actual checkbox.
    input[type=checkbox] {
      display: none;
      height: 62px;
      width: 62px;
    }

    .domain-selection-box {
      display: inline-block;
      float: left;
      margin-right: 6px;

      // Last child does not have any right margin!
      &:last-child {
        margin-right: 0;
      }
    }


    // Style when unchecked. Note: Label MUST follow immediately after the input element.
    input[type=checkbox] + label {

      background-color: $white;
      background-position: center center;
      background-repeat: no-repeat;
      color: $black;
      cursor: pointer;
      display: block;
      font-size: 12px;
      height: 62px;
      padding-top: 44px;
      text-align: center;
      width: 62px;

      &:hover {
        background-color: lighten($white, 5%);
      }

      // Images should be SVG instead!
      &.domain-private {
        background-image: url('../images/ui/private-black.png');
      }

      &.domain-company {
        background-image: url('../images/ui/company-black.png');
      }

      &.domain-public {
        background-image: url('../images/ui/public-black.png');
      }

    }

    // Style when checked. Note: Label MUST follow immediately after the input element.
    input[type=checkbox]:checked + label {
      background-color: $search-domain-selected;
      color: $white;

      &:hover {
        background-color: lighten($search-domain-selected, 5%);
      }

      // Images should be SVG instead!
      &.domain-private {
        background-image: url('../images/ui/private-white.png');
      }

      &.domain-company {
        background-image: url('../images/ui/company-white.png');
      }

      &.domain-public {
        background-image: url('../images/ui/public-white.png');
      }
    }
  }
}

.search-date-input {

  float: left;
  width: 80px;
}

.search-date-label {
  float: left;
  line-height: 32px;
  margin: 0 4px 0 4px;
  vertical-align: middle;
}


.search-details,
.scenario-builder {

  .panel {
    margin: 0 0 12px; // 0;
  }

  .ion-range-container {
    /* todo lookup variable */
  }

  .irs {
    margin-top: 10px;
  }

  .irs-from,
  .irs-to,
  .irs-single {
    background-color: $white;
    color: $black;
    padding: 2px 8px 8px; // 8px;
    top: -14px;
  }

  .irs-bar-edge {
    background-color: $brand-primary;
  }

  .irs-slider,
  .irs-bar {
    background: $brand-primary;
  }

  .irs-bar-edge {
    background: $brand-primary;
  }

  .irs-from::after,
  .irs-to::after,
  .irs-single::after {
    border-top-color: $white; //The arrow down part.
  }

  .irs-slider {
    width: 8px;
  }

  .irs-bar {
    height: 4px; //Height of horizontal bar
  }

  // Dimensions of the handles
  .to,
  .from {
    background-color: $white;
    border: 1px solid $slider-handle-border;
    border-radius: 10px;
    height: 20px;
    top: 16px;
    width: 20px;
  }

  // Horizontal background bar.
  .irs-line span {
    background: none;
    background-color: $dark-gray;
    height: 4px;
  }
}


.stylish-input-group .input-group-addon {
  background: $white;
  color: $dark-gray;
  min-width: initial;
  padding: 6px 2px; // 6px 2px;
}

.stylish-input-group .form-control {
  border-color: $dark-gray;
  border-right: 0;
  box-shadow: 0 0 0;
}

.stylish-input-group button {
  background: transparent;
  border: 0;
}

.model-details {
  background-color: $color-right-column-background;
}


.scenario-list,
.model-list,
.model-details,
.search-details {
  min-height: 100%;
  overflow: auto;
  padding: 0;


  // Disable some of the default panel stylings:
  .panel {
    //-webkit-box-shadow: none;
    //-moz-box-shadow: none;
    border: 0;
    box-shadow: none;
    padding: 4px;
  }



  .alert {
    border-radius: 0;
    margin: 1px;
  }

  .alert-small {
    display: inline-block;
    margin-top: 8px;
  }


  .list-group-item {

    padding: 0;

    &:hover {
      cursor: pointer;
    }

    &.selected {
      background-color: $selected-item-color;
    }

    // A href becomes block
    a,
    .search-result {
      @include truncate();
      // hide the selection focus (dotted lines)
      color: $black;
      display: block;
      outline: none;
      padding: 4px 0; // 4px 0;
      text-decoration: none;
    }

    .model-state {
      @include model-state-colors();
      border: 1px solid $gray-lighter;
      bottom: 30%;
      position: absolute;
      right: 4px;
    }


  }
}

.user-details {
  a {
    color: $white;
  }

  a:hover {
    color: $brand-primary;
    text-decoration: none;
  }
}

.scenario-list {
  background-color: darken($gray-lighter, 10%);
}

.model-list {
  background-color: $model-list-background;

  .list-group {
    margin-bottom: 8px;
  }
}

.publish-level {
  transition-duration: 500ms;
  transition-property: all;
  transition-timing-function: ease-in;
}

.highlighted {
  background-color: $deltares-groen; // !important;
}



@media screen and (max-width: 1250px) {

  .search-details .domain-search-boxes .domain-selection-box {
    margin-right: 2px;
  }

  .search-details .domain-search-boxes input[type=checkbox] + label {
    height: 54px;
    width: 54px;
   }

  // Hide the label at these screens:
  .search-details .domain-search-boxes input[type=checkbox] + label span {
    display: none;
  }
}


// Smalles screen we take care of.
@media screen and (max-width: 1024px) {

  body {
    // Allow scrollbars again.
    overflow-y: auto;
  }

  .search-details .domain-search-boxes input[type=checkbox] + label {
    height: 42px;
    width: 42px;
   }

  // Hide the results information screen (how many results we got) - it's fairly big, and removing it makes space for the buttons on the navbar.
  #results-info {
    display: none;
  }

}
