$icon-font-path: '../fonts/';

// From: huisstijl.deltares.nl

$deltares-blauw: #008fc5;
$deltares-metallic: #92b6c7;
$deltares-zand: #a09e8d;
$deltares-cyaan: #00c4d6;
$deltares-oranje: #ff7200;
$deltares-groen: #b4d300;
$deltares-cyclaam: #eb0073;
$white: #fff;
$black: #000;


$brand-primary: $deltares-blauw;
$brand-info: $deltares-metallic;
$brand-success: $deltares-groen;
$brand-warning: $deltares-oranje;
$brand-danger: $deltares-cyclaam;
$body-bg: lighten($black, 33.5%);

/* This part is wiredepped
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower:scss
*/

// it's better to include the main package
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap';


// Color variables, we use automatic colors for hover based upon these

$cell-padding: 6px;
$row-height: 32px;
$row-color-finished: #e5ffca;
$row-color-warning: #fffbca;
$row-color-error: #ffcaca;
$row-color-even: #efefef;
$row-color-odd: $white;


// Make object shadowed.
@mixin shadowed() {
  box-shadow: 0 0 32px 0 $gray-dark;

}

// Do disable round borders on an element
@mixin rectangle-corners() {
  border-radius: 0;
}

@mixin status-colors() {
  &.completed {


    background-color: $row-color-finished;

    &:hover {
      background-color: mix($row-color-finished, $white, 50%);
    }
  }

  &.warning {
    background-color: $row-color-warning;

    &:hover {
      background-color: mix($row-color-warning, $white, 50%);
    }
  }

  &.error {
    background-color: $row-color-error;

    &:hover {
      background-color: mix($row-color-error, $white, 50%);
    }
  }
}

.container {
  // we don't have a header menu so we use the margin-top of the container to give it a bit of space on the top
  margin-top: 32px;
}

.alert {
  @include rectangle-corners();
}

.btn {
  @include rectangle-corners();
}

.panel {
  @include rectangle-corners();
  @include shadowed();
}

// Override rounded corners, default bootstrap style
.input-group-addon {
  @include rectangle-corners();
}

.footer {
  margin: 8px 0 0;
}

.btn-logout {
  padding-right: 16px;
  vertical-align: top;
}

.heading-bar {
  background-color: #e1e1e1;
  color: #5d5d5d;

  padding: 10px 0 10px 32px;

  h2 {
    margin: 0;
  }

  .site-title {
    font-size: 32px;

    img {
      margin-right: 32px;
    }
  }

}

.table-default {
  margin-bottom: 32px;
  width: 100%;

  td  {
    border: 1px solid #c2c3c6;
    height: $row-height;
  }

  thead {
    td {
      background-color: #d9d9d9;
      border: 1px solid #cecece;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }

  tbody {

    td {
      padding-left: $cell-padding;
    }


    tr:nth-child(odd) {
      background-color: $row-color-even;

      &:hover {
        background-color: mix($row-color-even,$white, 50%);
      }

      @include status-colors();

    }

    tr:nth-child(even) {
      background-color: $row-color-odd;

      &:hover {
        background-color: mix($row-color-odd, $white, 50%);
      }

      @include status-colors();
    }




  }
}

.input-group-addon-info {
  background-color: #efefef;
}

.input-group {
  margin-bottom: 16px;

  // Color when a field is not valid.
  &.error {
    span {
      background-color: $row-color-error;
    }

    input {
      background-color: mix($row-color-error, $white, 50%);
    }
  }

}

.column-actions {
  width: 10%;
  text-align: center;
}


.item-group-title {
  font-weight: bold;
  min-width: 160px;
}

.default-hidden {
  display: none;
}
