@import 'variables';

.model-control-menu {
  a {
    cursor: pointer;
    user-select: none;
  }

  .dropdown-menu-checkbox {
    cursor: pointer;
    padding: 3px 20px;

    &:hover {
      background-color: $col-bw-1;
    }

    input {
      &[type='checkbox'] {
        margin: 0 3px;
      }
    }
  }

  .disabled {
    cursor: not-allowed;

    .dropdown-menu-checkbox {
      color: $col-bw-5;
      cursor: not-allowed;
    }
  }
}
