@import 'variables';

.model-details {
  table {
    margin-bottom: 0;
  }

  dl {
    margin-bottom: 0;
  }

  dd,
  dt {
    margin-bottom: ($padding / 2);

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    margin: ($padding * 2) 0;
    max-width: 100%;
  }

  .alert {
    margin: $padding 0;
  }

  // the modal-footer btn padding should remain unaffected
  // :not(.modal-footer) {
  //   .btn {
  //     margin-bottom: $padding;
  //   }
  // }

  .btn-group {
    .btn {
      margin-right: 0;
    }
  }

  .btn-output {
    display: inline-block;
    margin-right: 4px;
  }

  .btn-pink {
    background: #faa;
    border-color: rgba(77,77,77,.2);

    &:active {
      background: #d88;
    }
  }

  .loading {
    opacity: .5;
  }

  .panel-heading {
    cursor: pointer;
  }

  .progress {
    height: 18px;
    margin-bottom: 0;
    margin-top: 1px;
  }

  .form-group {
    &.input-group {
      cursor: pointer;
    }
  }

  .not-allowed {
    color: $col-bw-4;
    cursor: not-allowed;
  }
}
