@import 'variables';
@-moz-keyframes spin {
  0% {width: 0; height: 0; left: 0px; }
  90% { -moz-transform: rotate(380deg); width: 51px; height: 51px; : 5px;}
  100% { -moz-transform: rotate(360deg); display: block; top: 0px; }
}
@-webkit-keyframes spin {
  0% {width: 0; height: 0; left: 0px; }
  90% { -webkit-transform: rotate(380deg); width: 51px; height: 51px; }
  100% { -webkit-transform: rotate(360deg); display: block; top: 0px; }
}
@keyframes spin {
  0% {width: 0; height: 0; left: 0px; }
  90% { transform: rotate(380deg); width: 51px; height: 51px; left: 5px;}
  100% { transform: rotate(360deg); display: block; top: 0px; }
}

.navbar-static-top {
  border-width: 0 0 0px;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.navbar {
  margin-bottom: 0;  // override default bootstrap value

  background-image: -webkit-linear-gradient(left, #103551, #3a5a6f, #66818e, #96a9af, #cad2d3);
  background-image: -o-linear-gradient(left, #103551, #3a5a6f, #66818e, #96a9af, #cad2d3);
  background-image: linear-gradient(to right, #103551, #3a5a6f, #66818e, #96a9af, #cad2d3);

  #logoimage {
    float: left;
    position: relative;
    height: 51px;
    width: 51px;
    margin: -15px 15px 15px -15px;
    z-index: 1;
    -webkit-animation: sping 4s ease-in;
    -moz-animation: spin 4s ease-in;
    animation: spin 4s ease-in;
    min-width: 51px;
  }

  &.navbar-default .active > a,
  &.navbar-default .active > a:hover,
  &.navbar-default .active > a:focus {
    background: $col-bw-4;
  }

  .navbar-brand {
    font-size: 1em;
  }
}

@media (min-width: $screen-xs-sm) {
  .navbar {
    a.navbar-brand {
      font-size: 18px;
      color: $col-bw-6;
    }
    a.navbar-brand:hover {
      color: $col-bw-4;
    }
  }

  .navbar-inverse .navbar-nav > li > a {
    color: $col-bw-6;
  }

  .navbar-inverse .navbar-nav > li > a:hover {
    color: $col-bw-4;
  }

  .navbar-collapse {
    .navbar-nav.navbar-left{
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
