@import 'variables';

.search-list {

  .panel {
    margin-bottom: $padding;
  }

  .progress {
    height: 10px;
    margin-top: 5px;
  }

  .list-divider {
    color: $col-bw-4;
    padding-bottom: $padding;
  }

}
