@import 'variables';

.search-columns {
  margin-top: -50px;
  padding-bottom: (50px + $padding);
  padding-top: 50px;
  position: relative;  // needs to be relative for the DateTimePicker.js widget

  .action-bar {
    border-bottom: $border;
    margin-bottom: $padding;
    padding: $padding 0;

    .hidden-md {
      display: inline-block !important;
    }
  }


  .bordered {
    border-right: $border;
  }

  .btn-text {
    max-width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .column {
    padding: 0 $padding $padding;
  }

  .scrollable {
    overflow-y: auto;
  }

  .visible-xs-block {
    background-color: $col-bw-3;
    border-radius: 5px;
    margin: $padding 0;
    padding: $padding;

    &.visible-xs-block-first {
      border-top: 0;
    }
  }
}
