@import 'variables';

.search-columns {
  margin-top: -50px;
  padding-top: 50px;
  position: static;

  .action-bar {
    border-bottom: $border;
    margin-bottom: $padding;
    padding: $padding 0;
  }

  .bordered {
    border-right: $border;
  }

  .scrollable {
    overflow-y: scroll;
  }

}
