@import 'variables';

.search-details {

  .panel {
    margin-bottom: $padding;
  }

  .panel-body {
    padding: 0;
  }

  .panel-collapse {
    .form-group {
      padding: $padding;
    }
  }

  // ======================= ION RANGE SLIDER

  .irs {
    height: 30px;
    margin-right: 6px;
    margin-top: 20px;
  }

  .irs-line,
  .irs-bar,
  .irs-bar-edge {
    top: 24px;
  }

  .irs-slider {
    top: 7px;
    width: 8px;
  }

  .input-group-addon {
    border-left: 1px solid $col-bw-2;
  }

  .irs-from,
  .irs-to,
  .irs-single {
    background-color: $col-bw-2;
    color: $col-bw-5;
    padding: 2px 8px 8px; // 8px;
    top: -14px;
  }

  .irs-bar-edge {
    background: $col-bw-5;
  }

  .irs-slider,
  .irs-bar {
    background: $col-bw-4;
  }

  .irs-from::after,
  .irs-to::after,
  .irs-single::after {
    border-top-color: $col-bw-2; //The arrow down part.
  }

  .irs-bar {
    height: 4px; //Height of horizontal bar
  }

  // Dimensions of the handles
  .to,
  .from {
    background-color: $col-bw-0;
    border: 1px solid $col-bw-5;
    border-radius: 10px;
    height: 20px;
    top: 16px;
    width: 20px;
  }

  // Horizontal background bar.
  .irs-line span {
    background: none;
    background-color: $col-bw-2;
    height: 4px;
  }

}
