// ======================== fonts
$icon-font-path: '../fonts/';
$font-family-sans-serif: "Open Sans", sans-serif;

// ======================== colors

$col-bw-0: #fff;
$col-bw-1: #f5f5f5;
$col-bw-2: #e7e7e7;
$col-bw-3: #ddd;
$col-bw-4: #bbb;
$col-bw-5: #555;
$col-bw-6: #000;

$col-bg-main: #fff;

$font-weight-semibold: 600;

// ======================== spacing

$padding: 15px;

// ======================== borders

$border: 1px solid $col-bw-2;

//  ======================== bootstrap

$brand-primary: rgb(3, 140, 192);
$screen-xs-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

