// ======================== fonts
$icon-font-path: '../fonts/';
$font-family-sans-serif: 'Open Sans', sans-serif;

// ======================== colors
$col-bw-0: #fff;
$col-bw-1: #cdf0fe;
$col-bw-2: #e6f8ff;
$col-bw-3: #b4e9fe;
$col-bw-4: #cdf0fe;
$col-bw-5: #4fcbfc;
$col-bw-6: #03a3e2;
$col-bw-7: #000;

$col-bg-main: #fff;

$font-weight-semibold: 600;

// ======================== spacing

$padding: 15px;

// ======================== borders

$border: 1px solid $col-bw-2;

//  ======================== bootstrap

$brand-primary: rgb(3, 140, 192);
$screen-xs-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
