// ======================== fonts
$icon-font-path: '../fonts/';
$font-family-sans-serif: 'Open Sans', sans-serif;

// ======================== colors
$col-bw-0: #009AEB; // search buttons
$col-bw-1: #E2E8EB; // general headers
$col-bw-2: #D0E2EB; // selection
$col-bw-3: $col-bw-1; // used in smaller screens for headers
$col-bw-4: #009AEB; // highlight titlebar & lines in search
$col-bw-5: #333;  // border and text of search buttons
$col-bw-6: #fff;  // navbar text
$col-bw-7: #333;  // placeholder text

$col-bg-main: #fff;  // background color

$font-weight-semibold: 600;

// ======================== spacing

$padding: 15px;

// ======================== borders

$border: 1px solid $col-bw-1;

//  ======================== bootstrap

$brand-primary: $col-bw-4; // search text error
$screen-xs-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
