<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Delft3D-GT Login</title>

  <link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/img/icons/apple-touch-icon.png" />

  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/chunk-vendors.css">
</head>

<body class="login-body">
  <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

  <div class="panel panel-default">
    <div class="panel-heading">
      <img src="/img/delft3d-gt.svg" alt="logo" />
      <h3 class="panel-title">
        Delft3D Geological Tool -  Login
        </h3>
    </div>
    <div class="panel-body">
      <form role="form" method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="text-danger">{{ error }}</p>
        {% endfor %}
        {% endif %}

        <div class="form-group{% if form.username.errors %} has-error{% endif %}">
          <label for="id_username">Username</label>
          <input class="form-control" id="id_username" name="username" placeholder="Username"
            value="{{ request.POST.username }}">
          <p class="{% if form.username.errors %}text-danger{% endif %}">{{ form.username.errors.as_text }}</p>
        </div>
        <div class="form-group{% if form.password.errors %} has-error{% endif %}">
          <label for="id_password">Password</label>
          <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
          <p class="{% if form.password.errors %}text-danger{% endif %}">{{ form.password.errors.as_text }}</p>
        </div>
        <div class="form-action">
          <button type="submit" class="btn btn-success">
            Sign in
          </button>
          or
          <button onclick="window.location.href='/oidc/authenticate/'" class="btn btn-info">
            Sign in with MyDeltares
          </button>
          <a href="/forgot/" class="form-action-text">
            Forgot your password?</a>
        </div>
      </form>
    </div>

  </div>


</body>

</html>
