<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delft3D-GT Forgot Password</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="apple-touch-icon.png" />

    <link rel="stylesheet" href="/styles/vendor.css" />
    <link rel="stylesheet" href="/styles/main.css">

    <script src="/scripts/vendor/modernizr.js"></script>

  </head>
  <body class="login-body">
    <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><img src="/images/logo/delft3d-gt.svg" alt="logo"/> Delft3D Geological Tool - Set new password</h3>
      </div>
      <div class="panel-body">
        {% if validlink %}
            <p>Please enter your new password twice.</p>
            <form role="form" method="POST" action="">
              {% csrf_token %}

              {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
              <p class="text-danger">{{ error }}</p>
              {% endfor %}
              {% endif %}

              <div class="form-group{% if form.new_password1.errors %} has-error{% endif %}">
                <label for="id_email">Please enter your new password:</label>
                <input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="Password">
                <p class="{% if form.new_password1.errors %}text-danger{% endif %}">{{ form.new_password1.errors.as_text }}</p>
              </div>
              <div class="form-group{% if form.new_password2.errors %} has-error{% endif %}">
                <label for="id_email">Please enter your new password again:</label>
                <input type="password" class="form-control" id="id_new_password2" name="new_password2" placeholder="Password">
                <p class="{% if form.new_password2.errors %}text-danger{% endif %}">{{ form.new_password2.errors.as_text }}</p>
              </div>
              <button type="submit" class="btn btn-success">Reset password</button>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}


      </div>
    </div>

    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/plugins.js"></script>
  </body>
</html>
