<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delft3D-GT Dashboard</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/css/bootstrap-combobox.css">

    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap-combobox/css/bootstrap-combobox.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->


    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/validator-js/validator.js"></script>
    <!-- endbuild -->


  </head>
  <body style=" overflow: hidden">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- black bar on the top -->
    <nav class="navbar navbar-default navbar-static-top heading-bar">
      <div class="container-fluid">
        <div class="navbar-header">

          <a href="/" class="site-title"><img src="images/logo/delft3d-gt.svg" width="80" height="80" alt="Delft3D-GT Dashboard" />Delft3D-GT Dashboard</a></h2>
          <!--<a class="btn btn-primary btn-logout pull-right" href="/logout/">Logout</a>-->
        </div>
      </div>
    </nav>

    <!-- the grey toolbar for scenario builder -->
    <nav class="navbar navbar-default navbar-static-top tool-bar ">
      <div class="container-fluid">
        <div class="row" >
          <div class="col-xs-12">
            <button class="btn btn-primary pull-left" v-on:click="gotoPage('scenario-builder')">Save</button>
            <button class="btn btn-primary pull-left">Cancel</button>
          </div>
        </div>
      </div>
    </nav>

    <!-- main components container -->
    <div id="app" class="full-height">
      <div class="container-fluid full-height">
        <div class="row full-height">
          <div class="col-xs-4 full-height">

            <div class="row">

              <!-- User has to select a template first -->
                <template v-if="availableTemplates !== null">
                  <div class="row">
                    <div class="col-lg-12">
                      <select v-model="selectedId"  v-on:select="selectScenario()">

                        <option value="-1" selected="selected">
                          Choose a model
                        </option>

                        <option v-for="option in availableTemplates" v-bind:value="$index">
                          {{ option.templatename }}
                        </option>

                      </select>
                    </div>
                  </div>
                </template>


                <!-- if user selected something, show GUI -->
                  <template v-if="selectedTemplate !== null">

                    <h3>
                        Template: {{selectedTemplate.templatename}} <span class="label label-default">version {{selectedTemplate.version}}</span>
                    </h3>

                    <!-- categories -->
                    <div id="scenariobuilder-input">
                      <div v-for="item in selectedTemplate.variables">
                          <h3>
                              {{item.label}}
                          </h3>

                          <table class="table-default">
                              <!--
                                The color of this entire row is determined automatically by the valid state in the scenarioConfig variable.
                                The class is applied when a condition is true
                              -->

                              <tr v-for="value in item['variables']" v-bind:class="{ 'error': scenarioConfig[value.variableid].valid == false}">

                                  <td>
                                      <label for="{{value.variableid}}">
                                          {{value['label']}}
                                      </label>
                                  </td>
                                  <td class="cell-zero-padding">
                                      <!-- enable autostep? -->
                                      <div class="input-group no-margin">
                                        <template v-if="value.stepoptions.autostep == true">
                                          <span class="input-group-addon">
                                            <small>Vary</small>
                                            <input type="checkbox" aria-label="autostep" v-model="scenarioConfig[value.variableid].useautostep" v-on:change="toggleAutoStep(value, $event)">
                                          </span>
                                        </template>

                                        <!-- this input is disabled when autostep is enabled -->
                                        <input v-model="scenarioConfig[value.variableid].value" v-bind:class="{ 'inputdisabled': scenarioConfig[value.variableid].useautostep == true}" class="input-group form-control" data-max="{{value.max}}" data-min="{{value.min}}" name="{{value['variableid']}}" type="text" v-on:keyup="validateField(value, $event)" v-on:change="validateField(value, $event)" />


                                        <!-- Auto step options -->
                                        <template v-if="scenarioConfig[value.variableid].useautostep == true">
                                          <div class="centered">
                                            <table class="centered max-width">
                                              <tr>
                                                <td class="no-padding">
                                                   <span class="input-group-addon" >Min</span>
                                                   <input type="text" class="form-control" name="step{{value['variableid']}}-min" v-model="scenarioConfig[value.variableid].minstep" v-on:keyup="validateField(value, $event)" v-on:change="validateField(value, $event)" />
                                                </td>

                                                <td class="no-padding">
                                                  <span class="input-group-addon">Max</span>
                                                  <input type="text" class="form-control"  name="step{{value['variableid']}}-max"  v-model="scenarioConfig[value.variableid].maxstep" v-on:keyup="validateField(value, $event)" v-on:change="validateField(value, $event)" />
                                                </td>

                                                <td class="no-padding">
                                                  <span class="input-group-addon">
                                                    Step interval
                                                  </span>
                                                  <input type="text" class="form-control" name="step{{value['variableid']}}-interval" v-model="scenarioConfig[value.variableid].stepinterval" v-on:keyup="validateField(value, $event)" v-on:change="validateField(value, $event)" />
                                                </td>
                                              </tr>
                                            </table>
                                          </div>
                                        </template>

                                        <!-- End auto step -->
                                      </div>



                                  </td>

                                  <!-- only show units if type is numeric -->
                                  <template v-if="value.type == 'numeric'">
                                    <td>

                                        {{value.units}}&nbsp;

                                        <!-- Show range if either min and max are not 0 -->
                                        <template v-if="value.min !== 0 || value.max !== 0">
                                           [{{value.min}}
                                            -
                                            <template v-if="value.max !== 0">
                                              &nbsp;{{value.max}}
                                            </template>
                                            <template v-else>
                                              &nbsp;...
                                            </template>
                                          ]
                                        </template>


                                    </td>
                                  </template>

                                  <td>
                                      {{value.description}}

                                      <div v-if="scenarioConfig[value.variableid].useautostep == true && value.stepoptions.multipleof != 0">
                                        <small>Step interval needs to be a multiple of {{value.stepoptions.multipleof}}</small>
                                      </div>

                                  </td>
                              </tr>
                          </table>
                      </div>


                      <!-- expected runs indicator. It becomes a different color if the totalRuns exceed 50 -->
                      <div class="row" >
                          <div class="col-lg-12">
                            <div class="alert alert-info" v-bind:class="{ 'alert-warning': totalRuns >= 50}" role="alert">
                              <p class="lead">Expected runs: <strong>~{{totalRuns}}</strong></p>
                            </div>
                          </div>
                      </div>

                      <div class="col-lg-2">
                          <div class="btn-group">
                              <button class="form-control btn btn-primary" id="scenario-submit" v-on:click="submitScenario" value="" v-bind:class="{ 'inputdisabled': formIsValid == false}" >
                                  Create
                              </button>
                          </div>
                      </div>
                    </div>
                </template>

                <template v-else="">

                  <div class="row row-top-margin">
                    <div class="col-lg-12">
                      <div class="alert alert-info"  role="alert">
                        <p class="lead">Please select a template</p>
                      </div>
                    </div>
                  </div>
            </div>


            </div>

          </div>


          <div class="col-xs-8 column column-details full-height">


          </div>
        </div>
      </div>



    <div id="template-container"></div>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/fetch/fetch.js"></script>
    <script src="/bower_components/clipboard/dist/clipboard.js"></script>
    <script src="/bower_components/vue/dist/vue.js"></script>
    <script src="/bower_components/vue-router/dist/vue-router.js"></script>
    <script src="/bower_components/bootstrap-combobox/js/bootstrap-combobox.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/components/home.js"></script>
    <script src="scripts/components/modellist.js"></script>
    <script src="scripts/components/modeldetails.js"></script>
    <script src="scripts/components/scenariobuilder.js"></script>

    <script src="scripts/ui.js"></script>
    <script src="scripts/models.js"></script>
    <script src="scripts/inputvalidation.js"></script>

    <script src="scripts/data/message-scene-list.js"></script>
    <script src="scripts/data/message-scene-delete.js"></script>
    <script src="scripts/data/message-scene-create.js"></script>
    <script src="scripts/data/message-scene-changestate.js"></script>

    <script src="scripts/main.js"></script>


    <!-- endbuild -->
  </body>
</html>
