// ===================== variables
@import '@/assets/variables.scss';

// ===================== imports

// it's better to include the main package
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-select/dist/css/bootstrap-select.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "~ion-rangeslider/css/ion.rangeSlider.min.css";
@import "~bootstrap4-tagsinput/tagsinput.css";

$fa-font-path:"~font-awesome/fonts";
@import "~font-awesome/css/font-awesome.min.css";

body {
  background-color: $col-bg-main;
}

div {
  &[data-toggle='collapse'] {
    cursor: pointer;
  }
}

// OpenSans and default font-weight of bootstrap is quite ugly. Therefore we change the weight from "bold" to semibold, see variables.scss.
label,
dt {
  font-weight: $font-weight-semibold;
}

.btn-text {
  border: 1px solid transparent;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  margin-bottom: 0;
  padding: 6px 0;
  vertical-align: middle;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.info-secondary {
  color: $col-bw-7;
}

.label-default {
  background-color: $col-bw-2;
  color: $col-bw-5;
}

.no-padding {
  padding: 0;
}

.panel {
  margin-bottom: $padding;
}

.panel-body {
  padding: $padding;

  .form-action {
    .form-action-text {
      margin: auto;
      float: right;
    }
  }
}

.panel-default {
  .panel-heading {
    background-color: $col-bw-1;
    border-bottom: 0;
    padding: $padding;
    display: flex;

    h3.panel-title {
      margin: auto;
    }

    img {
      height: 32px;
      margin: auto 5px auto 5px;
    }
  }
}

.navbar {
  #static-logoimage {
      float: left;
      position: relative;
      height: $logo-size;
      width: $logo-size;
      min-width: $logo-size;
  }

  .brand-wrapper {
    height: $logo-size;
    padding: 10px 10px 10px 61px;

    .navbar-brand {
      margin-left: 0.5rem;
      font-size: 18px;
      top: calc(50% - 9px);
    }
  }
}

.login-body {
  display: flex;

  &::after {
    background: url('/img/delta.jpg') no-repeat center center fixed;
    background-size: cover;
    bottom: 0;
    content: '';
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .panel {
    border-color: $col-bw-4;
    box-shadow: 0 8px 6px -6px $col-bw-5;
    margin: auto;
    position: relative;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 500px;
  }
}

.label,
.btn {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label {
  padding: 5px;
}

.row {
  padding-bottom: 15px;
}

// ============ responsiveness

@media (min-width: $screen-xs-sm) {
  html,
  body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
  }

  .full-height {
    height: 100%;
  }

  .modal-dialog {
    left: 0;
  }

  .modal-open {
    padding-right: 0px !important;
    margin: 0 !important;
  }
}
