<template id="template-confirm-dialog">
  <div class="modal default-hidden fade" id="{{ dialogId }}-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            <slot name="title"></slot>
          </h4>
        </div>
        <div class="modal-body">
          <slot name="body"></slot>
          <div class="alert alert-info" role="alert">
            <slot name="alert"></slot>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" v-on:click="confirm">{{ confirmButtonTitle }}</button>
          <button type="button" class="btn btn-primary" v-on:click="cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
