<template id="template-home" keep-alive>
  <div>
    <div class="panel-body">
      <!--  two components TODO: why no rows?-->
      <div class="col-lg-12">
        <a href="#/scenarios/create">
          <button class="btn btn-primary" >Scenario builder</button>
        </a>

        <div class="header-bar">
          <h2>Running models</h2>
        </div>
        <model-list></model-list>
      </div>
      <!-- the create view -->
      <model-create></model-create>


    </div>
  </div>

</template>
