
<template id="template-home" keep-alive>
  <div class="full-height">

    <!-- the grey toolbar for main screen-->
    <nav class="navbar navbar-default navbar-static-top tool-bar ">
      <div class="container-fluid">
        <div class="row" >
          <div class="col-xs-2">
            <a href="#/scenarios/create" class="btn btn-primary pull-left">Add scenario</button>
            <button class="btn btn-primary pull-right">Delete</button>
          </div>

          <div class="col-xs-3">
            <div class="btn-toolbar">
              <button class="btn btn-primary pull-right">Add runs</button>
              <button class="btn btn-primary pull-right">Delete</button>
            </div>
          </div>

          <div class="col-xs-7">
            &nbsp;
          </div>
        </div>
      </div>
    </nav>


   <!-- main components container -->
    <div class="full-height">
      <div class="container-fluid full-height">
        <div class="row full-height">
          <div class="col-xs-2 column-scenario-list full-height">

            <h3>
              Scenarios
            </h3>


            <div class="row" id="scenario-list">

              <div class="column-header"></div>

              <ul class="list-group checked-list-box" >
                <li class="list-group-item"  v-on:click="showScenario(0)">Scenario 1</li>
                <li class="list-group-item"  v-on:click="showScenario(0)">Scenario 2</li>
                <li class="list-group-item"  v-on:click="showScenario(0)">Scenario 3</li>
                <li class="list-group-item"  v-on:click="showScenario(0)">Scenario 4</li>
                <li class="list-group-item"  v-on:click="showScenario(0)">Scenario 5</li>
                <li class="list-group-item"  v-on:click="showScenario(0)">Scenario 6</li>
                <li class="list-group-item"  v-on:click="showScenario(0)">Scenario 7</li>
              </ul>
            </div>
          </div>

          <div class="col-xs-3 column column-runs-list full-height">

              <h3>
                Runs
              </h3>



              <div class="row full-height">

                <div class="column-header"></div>

                <!-- this should not be in this place, but the model list - of course - But now its here for a moment until the list is properly separated for the scenario/model changes -->
                <model-list></model-list>

<!-- New style / events. Might remove this later. But for a demo purpose leaving this right now
                <ul class="list-group checked-list-box" id="scenario-list">
                  <li class="list-group-item"  v-on:click="detailModel(0)">Model 1</li>
                  <li class="list-group-item"  v-on:click="detailModel(0)">Model 2</li>
                  <li class="list-group-item"  v-on:click="detailModel(0)">Model 3</li>
                  <li class="list-group-item"  v-on:click="detailModel(0)">Model 4</li>

                </ul>
-->

            </div>

          </div>

          <div class="col-xs-7 column column-details full-height">


            <!-- the create view -->
            <model-create></model-create>

          </div>
        </div>
      </div>
    </div>





    </div>
  </div>

</template>
