<template id="template-image-animation">

  <div class="image-animation">

    <div class="row">
      <div class="col-sm-12" >
        <ul class="nav nav-tabs nav-justified">
          <!-- <li role="presentation" :class="{'active': currentAnimationKey === 'delta_fringe_images'}" @click.stop="switchAnimation('delta_fringe_images')"><a href="#">Delta fringe</a></li>
          <li role="presentation" :class="{'active': currentAnimationKey === 'channel_network_images'}" @click.stop="switchAnimation('channel_network_images')"><a href="#">Channel network</a></li>
          <li role="presentation" :class="{'active': currentAnimationKey === 'sediment_fraction_images'}" @click.stop="switchAnimation('sediment_fraction_images')"><a href="#">Sediment fraction</a></li>
          <li role="presentation" :class="{'active': currentAnimationKey === 'subenvironment_images'}" @click.stop="switchAnimation('subenvironment_images')"><a href="#">Sub-environment</a></li> -->
          <li role="presentation" :class="{'active': currentAnimationKey === 'map_waterlevel_images'}" @click.stop="switchAnimation('map_waterlevel_images')"><a href="#">Waterlevel map</a></li>
          <li role="presentation" :class="{'active': currentAnimationKey === 'waterlevel_id_images'}" @click.stop="switchAnimation('waterlevel_id_images')"><a href="#">Waterlevel timeseries </a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="text-center"  v-if="hasFrames == false">
          <div class="alert alert-info" role="alert">No images available yet.</div>
        </div>

        <div v-if="hasFrames == true">
          <div class="text-center">
            <img :src="animationFrame" class="animation-frame"/>
          </div>

          <div class="col-sm-12 text-center" >
            <div class="btn-group">

              <button type="button" class="btn btn-primary" v-on:click="gotoFirstFrame()">
                <span class="glyphicon glyphicon-fast-backward">
                </span>
              </button>

              <!-- <button type="button" class="btn btn-primary" v-on:click="previousImageFrame('channel_network_images')">
                <span class="glyphicon glyphicon-backward">
                </span>
              </button>
              <button type="button" class="btn btn-primary" v-if="isAnimating" v-on:click="stopImageFrame('channel_network_images')">
                <span class="glyphicon glyphicon-stop">
                </span>
              </button>
              <button class="btn btn-primary" v-if="isAnimating == false" v-on:click="playImageFrame('channel_network_images')">
                <span class="glyphicon glyphicon-play">
                </span>
              </button>
              <button type="button" class="btn btn-primary" v-on:click="nextImageFrame('channel_network_images')">
                <span class="glyphicon glyphicon-forward">
                </span>
              </button> -->
              <button type="button" class="btn btn-primary" v-on:click="nextImageFrame('waterlevel_id_images')">
                <span class="glyphicon glyphicon-forward">
                </span>
              </button>

              <button type="button" class="btn btn-primary" v-on:click="nextImageFrame('map_waterlevel_images')">
                <span class="glyphicon glyphicon-forward">
                </span>
              </button>

              <button type="button" class="btn btn-primary" v-on:click="gotoLastFrame()">
                <span class="glyphicon glyphicon-fast-forward">
                </span>
              </button>
            </div>
          </div>


          <div class="col-sm-12 text-center" >
            <div class="btn-group">
              <div class="animframeindicator">
                Frame {{animationIndex+1}} of {{frameCount}}
              </div>
            </div>
          </div>
        </div>

        <div>
          <!-- <div v-if="currentAnimationKey === 'channel_network_images'">
            <h3>Channel network</h3>
            <p>
              These graphs display the properties, the architecture and the evolution of the channel network. Fluvial deposits are targets for hydrocarbon and groundwater exploration as they are typically permeable and continuous, and consequently a potential reservoir or aquifer.
            </p>
            <p>
              The size and the quality of a fluvial reservoir in a delta depends on the size of the network, the connection between the different branches, and the relation of the channel network with the substrate, the mouth bars, and the prodelta. Therefore, a good characterization of the properties and the architecture of the channel network allows a better estimation of the reservoir properties in the subsurface. The most important parameters of the channel network are extracted and processed from the Delft3D output.
            </p>
          </div>

          <div v-if="currentAnimationKey === 'delta_fringe_images'">
            <h3>Delta fringe</h3>

            <p>
              This graph shows the position of the delta plain fringe superimposed on the graph of the water depth. This is an indicator for the large-scale plan-view morphology of a delta, which is a function of the dominant forcing processes (waves, rivers, tides) and grain size of transported sediments.<br />
            </p>

            <p>
              A good characterization of the plan-view morphology of the delta allows better predictions on grain size distribution and heterogeneity in the delta geo-body. The delta fringe is calculated based on a cutoff value of water depth and on local slope.
            </p>
          </div>
          <div v-if="currentAnimationKey === 'subenvironment_images'">
            <h3>Sub-environment</h3>

            <p class="text-center">
              <img class="description-image" src="images/ui/sub_environment_definition.png" alt="Subenvironment definition" />
              <dl class="dl">
                <dt>Delta top</dt><dd>Deposits above delta brink point</dd>
                <dt>Delta front</dt><dd>Deposits below delta brink point and above wave base</dd>
                <dt>Prodelta</dt><dd>Deposits below wave base</dd>
                <dt>Background</dt><dd>Deposition smaller than 5mm</dd>
              </dl>
            </p>
          </div> -->

          <div v-if="currentAnimationKey === 'map_waterlevel_images'">
            <!-- <h3>Water levels</h3>

            <p>
              Look water levels!
            </p> -->
          </div>
          <div v-if="currentAnimationKey === 'waterlevel_id_images'">
            <!-- <h3>Water levels</h3>

            <p>
              Look water levels!
            </p> -->
          </div>
        </div>
      </div>
    </div>

  </div>

</template>
