<template id="template-model-list" inline-template>
  <div>

    <table id="list-model-status" class="table-default">
      <thead>
        <tr>
         <!--
          <th v-for="key in columns"
            @click="sortBy(key)"
            :class="{active: sortKey == key}">
            {{key | capitalize}}
            <span class="arrow"   :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
          </th>
          -->
          <th>RUN #</th>
          <th>STATUS</th>
          <th>EST. TIME LEFT</th>
          <th style="width: 10%">&nbsp;</th>

        </tr>
      </thead>

      <tbody>
        <tr v-for="entry in data
        | filterBy filterKey
        | orderBy sortKey sortOrders[sortKey]
        " v-on:click="detailModel($index)" class="clickable">
          <td>{{entry.name}}<input type="hidden" value="{{entry.id}}" v-model="entry.id" /></td>
          <td>{{entry.state}}</td>
          <td>

          </td>
          <td class="centered">
            <button class="btn btn-primary inside-cell" v-on:click="detailModel($index)">Details</button>
          </td>
        </tr>
      </tbody>

      <tfoot v-show="hasNoModels">
        <tr>
          <td colspan="4" class="centered">
            There are no models right now.</div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</template>
