<template id="template-model-card">

  <div class="model-card" :class="{'activated': model.active}" @click.stop="toggleActive">

    <template v-if="model">

      <div class="panel-body" :class="{ 'active-class': model.active }">

        <div class="row">

          <div class="col-sm-4">
            <span v-if="model.shared == 'p'"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <span v-if="model.shared == 'c'"><i class="fa fa-group" aria-hidden="true"></i></span>
            <span v-if="model.shared == 'w'"><i class="fa fa-globe" aria-hidden="true"></i></span>
            &nbsp;{{model.name}}
          </div>

          <div class="col-sm-4 text-right">
            <span class="label label-default label-status">{{model.state | capitalize }}</span>
          </div>

          <div class="col-sm-2">
            <div class="progress text-center">
              <div
                 data-percentage="{{model.progress}}%"
                 :style="{ width: model.progress + '%'}"
                 class="progress-bar progress-bar-info"
                 :class="{'progress-bar-striped active': (model.state == 'Running simulation...')}"
                 role="progressbar"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
            </div>
          </div>

          <div class="col-sm-1 text-center">
            <form class="form-inline" v-if="selectable">
              <div class="checkbox">
                <input type="checkbox" v-model="selected">
              </div>
            </form>
          </div>

           <div class="col-sm-1 text-center">
            <i v-if="model.id === selection.activeModelId" class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>

        </div>

      </div>

    </template>

    <template v-else>

      model missing

    </template>

  </div>

</template>
