<template id="template-model-details">
  <div>
    <h3 >Details <span v-if="(model.id !== undefined)">for &ldquo;<strong>{{model.name}}</strong>&rdquo;</span></h3>
    <div class="column-header"></div>
    <div class="alert alert-info" v-if="(model.id === undefined)">
      No run selected.
    </div>

    <div v-if="(model.id !== undefined)">

      <!-- model window for deletation -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Summary </h2>
        </div>

        <div class="panel-body" v-if="model">
          <table class="table-default">
            <tbody>
              <tr>
                <td>Name</td>
                <td>{{model.name}} </td>
              </tr>

              <tr>
                <td>Model files</td>
                <td>View <a href="{{model.fileurl}}">working directory</a></td>
              </tr>

              <tr>
                <td>Status</td>
                <td><span class="label label-default">{{model.state | capitalize }}</span></td>
              </tr>
              <tr>
                <td>Identification</td>
                <td><span class="text-muted">{{ model.id }} {{ model.suid }} </span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Simulation control</h2>
        </div>
        <div class="panel-body">
          <p>
            Please select an action to perform on this simulation
          </p>

          <button type="button" class="btn btn-labeled btn-success" v-bind:class="{ 'inputdisabled': !(model.state === 'SUCCESS' || model.state === 'FAILURE') }" id="simulation-control-start" v-on:click="startModel">
            <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>
            Restart
          </button>

          <button type="button" class="btn btn-labeled btn-warning" v-bind:class="{ 'inputdisabled':  !(model.state === 'PROCESSING') }" id="simulation-control-stop" v-on:click="stopModel">
            <span class="btn-label"><i class="glyphicon glyphicon-stop"></i></span>
            Stop
          </button>


          <button type="button" class="btn btn-labeled btn-danger" v-bind:class="{ 'inputdisabled': !((model.state === 'SUCCESS' || model.state === 'FAILURE') || model.state === 'PENDING') }"  v-on:click="removeModel(model)">
            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>
            Remove run
          </button>
          <!--
          Do not give option anymore to remove files. WE will always do this.
          <input type="checkbox" value="1" id="simulation-control-check-delete-files" /> Also delete all simulation files
          -->
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Run input parameters</h2>
        </div>
        <div class="panel-body">
          <table class="table-default">
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Using vary</th>
                <th>Units</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(key, param) in model.parameters">
                <td>{{key}}</td>
                <td>{{param.value}}</td>
                <td>
                  <span v-if="param.useautostep === true">Yes</span>
                  <span v-else>No</span>
                </td>
                <td>
                  <!-- we add this as we might have some older models not having the units var yet. -->
                  <span v-if="param.units !== undefined">
                    {{param.units}}
                  </span>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Generated images</h2>
        </div>
        <div class="panel-body">
          <image-animation :model="model"></image-animation>
        </div>
      </div>





      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Download files</h2>
        </div>
        <div class="panel-body">
          <p>
            Please check what you would like to download. Your download will be a ZIP file which contains the requested files.
          </p>
          <p>
            Currently you can only dowload the generated output images.
          </p>
          <div class="form-group input-group">
            <span class="input-group-addon"><input type="checkbox" class="downloadoption" checked="checked" v-on:change="downloadOptionsChange()"></span>
            <span class="form-control">Download generated output images</span>
          </div>
          <div class="btn-group">
            <button class="form-control btn btn-primary" id="download-submit" v-on:click="downloadFiles()" value="">
              Download
            </button>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Log output</h2>
        </div>
        <div class="panel-body">

          <button class="btn btn-primary" type="button" id="btn-copy-log-output" data-clipboard-target="#model-log-output">
            Copy log
          </button>
          <button class="btn btn-primary" type="button" id="btn-refresh-log-output" v-on:click="fetchLog">
            Refresh log
          </button>

          <div id="model-log-output-wrap">
            <!-- fill this directly cause debugging views with 3MB text are a bit slow -->

            <pre><code id="model-log-output">No log available.</code></pre>

          </div>
        </div>
      </div>

      <!-- MODALS -->

      <div class="modal default-hidden fade " id="dialog-confirm-delete" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Remove model '<span id="dialog-remove-name"></span>'?</h4>
            </div>
            <div class="modal-body">
              <p>
                Are you sure you want to remove this model?
              </p>

              <!-- warning which is shown if user also wants to delete additional files. -->
              <div class="msg-delete-extra alert alert-info" role="alert">
                Additional files already generated by this models will also be deleted.
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" id="dialog-remove-response-accept">Delete</button>
              <button type="button" class="btn btn-primary" id="dialog-remove-response-cancel" data-dismiss="modal">Cancel</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
      <!-- REMOVE FROM HERE -->
    </div>

  </div>
</template>
