<template id="template-model-list" inline-template>
  <div>
    <table id="list-model-status" class="table-default">
      <thead>
        <tr>
          <th>Run #</th>
          <th>Status</th>
          <th>&nbsp;</th>

        </tr>
      </thead>

      <tbody>
        <tr v-for="entry in selectedModels()">
          <td title="id={{ entry.id }}">
            <a href="#/scenarios/{{ entry.scenario }}/models/{{entry.id}}">{{entry.name}}</a>
          </td>
          <td>{{entry.state}}</td>

          <td class="centered">
            <a href="#/models/{{ entry.id }}" class="btn btn-primary inside-cell">Details</a>
          </td>
        </tr>
      </tbody>

      <tfoot v-show="!models">
        <tr>
          <td colspan="4" class="centered">
            There are no models right now.
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="alert alert-warning default-hidden" role="alert" id="alert-connectionfailed">
      Cannot reach model server.
    </div>
  </div>

</template>
