<template id="template-model-details">

  <div class="model-details">

    <div v-if="(model.id !== undefined)">

      <!-- model window for deletation -->

      <div class="panel panel-default">
        <div class="panel-body" v-if="model">
          <table class="table-default">
            <tbody>
              <tr>
                <td class="col-md-2 "><strong>Name</strong></td>
                <td><strong>{{model.name}}</strong></td>
              </tr>

              <tr>
                <td>Status</td>
                <td><span class="label label-info label-status">{{model.state | capitalize }}</span></td>
              </tr>

              <tr>
                <td>Progress</td>
                <td>

                  <div class="progress progress-incell">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" v-bind:style="{width: progress + '%'}" data-toggle="tooltip" data-placement="top" title="Progress">
                      <span class="sr-only">{{progress}}% Complete</span>
                      <span class="progress-type">{{progress}}%</span>
                    </div>
                  </div>
                </td>
              </tr>

              <tr v-if="model.owner">
                <td>Owner of run</td>
                <td><a href="mailto:{{model.owner.email}}">{{ model.owner.first_name }} {{ model.owner.last_name }}</a> </td>
              </tr>

              <tr class="publish-level">
                <td>Share level</td>
                <td><span>{{ publishLevel }}</span></td>
              </tr>

              <tr>
                <td>Simulation output: </td>
                <td><a href="{{model.fileurl}}" target="_blank">Open in new tab</a></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Simulation control</h2>
        </div>
        <div class="panel-body">
          <p v-bind:class="{ 'hidden': isReadOnly() }">
            You can select an action to perform on this simulation:
          </p>

          <p v-bind:class="{ 'hidden': !isReadOnly() }">
            Simulation controls are disabled for already published runs.
          </p>

          <button type="button" class="btn btn-labeled btn-spaced-right"  id="simulation-control-start" v-on:click="startModel" v-bind:class="[(isReadOnly() || !(model.state === 'Idle: waiting for user input' || model.state === 'Finished')) ? 'disabled': 'btn-success']" >
            <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>
            Start
          </button><button type="button" class="btn btn-labeled btn-spaced-right" id="simulation-control-stop" v-on:click="stopModel" v-bind:class="[(isReadOnly() || !(model.state === 'Running simulation...')) ? 'disabled' : 'btn-warning' ]">
            <span class="btn-label"><i class="glyphicon glyphicon-stop"></i></span>
            Stop
          </button><button type="button" class="btn btn-labeled btn-spaced-right" v-on:click="removeModel(model)" v-bind:class="[ (isReadOnly()) ? 'disabled' : 'btn-danger']">
            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>
            Remove run
          </button>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Share controls</h2>
        </div>
        <div class="panel-body">
          <p v-bind:class="{ 'hidden': user.id != model.owner.id }">
            You can select who to share your results with:
          </p>
          <p v-bind:class="{ 'hidden': user.id == model.owner.id }">
            You cannot share runs owned by another user.
          </p>

          <!-- These are now links, replace by post requests later, otherwise a search engine will start publishing models -->
          <!-- This form-inline is normally applied to a form but in this case we have 3 forms as a form group. -->
          <template v-for="level in publishLevels">
            <button type="button"
                    class="btn btn-labeled btn-default  btn-spaced-right"
                    <<<<<<< HEAD
                            :class="{ 'inputdisabled': !(model.state == 'Finished') || !isLevelEnabled($index) || user.id != model.owner.id, 'hidden': $index == 0 }"
                            =======
                            :class="{ 'disabled': !(model.state === 'SUCCESS' || model.state === 'FAILURE' || model.state === 'ABORTED') || !isLevelEnabled($index) }"
                            >>>>>>> develop
                      v-on:click="publishModel($index)">
              <span class="btn-label">
                <i class="glyphicon" :class="publishLevels[$index].iconClass"></i>
              </span>
              {{ publishLevels[$index].description }}
            </button>
          </template>

        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Run input parameters</h2>
        </div>
        <div class="panel-body">
          <table class="table-default">
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Units</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(key, param) in model.parameters | orderBy '$key'">
                <td>{{ (param.name || key) | capitalize }}</td>
                <td>{{param.value}}</td>
                <td>
                  <!-- we add this as we might have some older models not having the units var yet. -->
                  <span v-if="param.units !== undefined">
                    {{param.units}}
                  </span>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Generated images</h2>
        </div>
        <div class="panel-body">
          <image-animation :model="model"></image-animation>
        </div>
      </div>





      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Download files</h2>
        </div>
        <div class="panel-body">
          <p>
            Please check what you would like to download. Your download will be a ZIP file which contains the requested files.
          </p>

          <div class="form-group input-group">
            <span class="input-group-addon"><input type="checkbox" class="downloadoption" value="export_d3dinput" v-on:change="downloadOptionsChange()"></span>
            <span class="form-control no-fixed-height">Delft3D: input files</span>
          </div>
          <!--
              <div class="form-group input-group">
                <span class="input-group-addon"><input type="checkbox" class="downloadoption" value="export_d3doutput" v-on:change="downloadOptionsChange()"></span>
                <span class="form-control no-fixed-height">Delft3D: output files</span>
              </div>
              -->
          <div class="form-group input-group">
            <span class="input-group-addon"><input type="checkbox" class="downloadoption" value="export_images" v-on:change="downloadOptionsChange()"></span>
            <<<<<<< HEAD
                    <span class="form-control no-fixed-height">Media: generated output images</span>
                    =======
                    <span class="form-control no-fixed-height">Download generated output images</span>
          </div>
          <div class="form-group input-group" v-bind:class="{ 'disabled': model.info.export === false}">
            <span class="input-group-addon"><input type="checkbox" class="downloadoption"  value="export_thirdparty" v-on:change="downloadOptionsChange()" ></span>
            <span class="form-control no-fixed-height">Include export for RMS / Petrel <span v-if="model.info.export === false">. <small>Please use <strong>"Start export"</strong> first at Simulation controls. After export completes, this option is available.</small></span></span>
            >>>>>>> develop
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon"><input type="checkbox" class="downloadoption" value="export_movie" v-on:change="downloadOptionsChange()"></span>
            <span class="form-control no-fixed-height">Media: generated output movies</span>
          </div>

          <div class="form-group input-group" v-bind:class="{ 'inputdisabled': !(model.state === 'Finished')}">
            <span class="input-group-addon"><input type="checkbox" class="downloadoption"  value="export_thirdparty" v-on:change="downloadOptionsChange()" ></span>
            <span class="form-control no-fixed-height" v-bind:class="{ 'hidden': !(model.state === 'Finished')}">Export: files for RMS / Petrel</span>
            <span class="form-control no-fixed-height" v-bind:class="{ 'hidden': (model.state === 'Finished')}">Export to RMS / Petrel is enabled when the run is 'Finished'</span>
          </div>

          <button class="btn btn-primary" type="button"  id="download-submit" v-on:click="downloadFiles()" value="">
            Download
          </button>

          <<<<<<< HEAD
                  =======
                  <button class="btn btn-primary" type="button" v-bind:class="{ 'disabled': model.state === 'PROCESSING' }"  v-on:click="exportModel">
                    Start export
                  </button>

                  <h5 v-bind:class="{ 'default-hidden': model.state === 'PROCESSING' }">&ldquo;<i>Start export</i>&rdquo; becomes available after a simulation has finished and not published.</h5>

                  >>>>>>> develop
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Log output</h2>
        </div>
        <div class="panel-body">

          <button class="btn btn-primary" type="button" id="btn-copy-log-output" data-clipboard-target="#model-log-output">
            Copy log
          </button>
          <button class="btn btn-primary" type="button" id="btn-refresh-log-output" v-on:click="fetchLog">
            Refresh log
          </button>

          <div id="model-log-output-wrap">
            <!-- fill this directly cause debugging views with 3MB text are a bit slow -->

            <pre><code id="model-log-output">Press "Refresh log" to load the log file. It might take a few seconds for a large log file to show.</code></pre>

          </div>
        </div>
      </div>

      <!-- MODALS -->
      <confirm-dialog dialog-id="publish" confirm-button-title="Publish">
        <template slot="title">
          Share model '{{ model.name }}'?
        </template>
        <template slot="body">
          <p>Are you sure you want to share this model as '{{ nextPublishLevel }}'?</p>
        </template>
        <template slot="alert">
          This action cannot be undone.
        </template>
      </confirm-dialog>

      <confirm-dialog dialog-id="delete" confirm-button-title="Delete">
        <template slot="title">
          Remove model '{{ model.name }}'?
        </template>
        <template slot="body">
          <p>Are you sure you want to remove this model?</p>
        </template>
        <template slot="alert">
          Additional files already generated by this models will also be deleted.
        </template>
      </confirm-dialog>

      <confirm-dialog dialog-id="stop" confirm-button-title="Stop">
        <template slot="title">
          Stop model '{{ model.name }}'?
        </template>
        <template slot="body">
          <p>Are you sure you want to stop this model?</p>
        </template>
        <template slot="alert">
		      You will need to restart the model if you want to continue the simulation
        </template>
      </confirm-dialog>

    </div>

</template>
