<template id="template-model-list" inline-template>
  <div class="model-list">
    <h3>Runs</h3>
    <div>

      <ul class="list-group checked-list-box" id="scenario-list" v-show="selectedModels.length">
        <li class="list-group-item"  v-for="entry in selectedModels" v-bind:class="{ 'selected': entry.id == selectedModelId}">
          <!--<a href="#/scenarios/{{ entry.scenario }}/models/{{entry.id}}">{{entry.name}}</a>-->
          <!--  <a href="#/search-columns/models/{{entry.id}}">{{entry.name}}</a> -->
          <div v-on:click="directSelect">{{entry.name}}</div>


          <span class="model-state label label-default {{ entry.state | lowercase }}">{{entry.state | capitalize }}</span>
        </li>
      </ul>

      <div class="alert alert-info" v-show="!selectedModels.length">
        There are no models loaded.
      </div>
      <div class="alert alert-warning default-hidden" role="alert" id="alert-connectionfailed">
        Cannot reach model server.
      </div>
    </div>
  </div>

</template>
