<template id="template-model-details" >
  <div>
    <div class="panel-body">
      <div class="col-lg-12">

        <div class="header-bar">
          <h2>Details for &ldquo;<strong>{{selModel.name}}</strong>&rdquo;
            <!-- <button class="btn btn-primary pull-right" type="button" v-on:click="closeDetails()" >
                 CLOSE
                 </button> -->
          </h2>
        </div>
      </div>

      <div class="modal default-hidden fade " id="dialog-confirm-delete" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Remove model '<span id="dialog-remove-name"></span>'?</h4>
            </div>
            <div class="modal-body">
              <p>
                Are you sure you want to remove this model?
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" id="dialog-remove-response-accept" >Delete</button>
              <button type="button" class="btn btn-primary" id="dialog-remove-response-cancel" data-dismiss="modal">Cancel</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <nav class="navbar navbar-default sidebar" role="navigation">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ><a href="#" v-on:click="closeDetails(); return false"><strong>Return to model list</strong> <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-menu-left"></span></a></li>

              <li class="active" ><a href="#" v-on:click="changeMenuItem" data-target="#results-summary">Summary<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-info-sign"></span></a></li>

              <li class="dropdown" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Graphs <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-signal"></span></a>
                <ul class="dropdown-menu for-animate" role="menu">
                  <li ><a href="#" v-on:click="changeMenuItem" data-target="#results-channel-network" data-animation="channel_network_images">Channel network</a></li>
                  <li><a href="#" v-on:click="changeMenuItem" data-target="#results-delta-fringe" data-animation="delta_fringe_images">Delta plain fringe</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                <ul class="dropdown-menu forAnimate" role="menu">
                  <li><a href="#" v-on:click="removeModel(selModel)">Abort simulation</a></li>
                  <li><a href="#" v-on:click="changeMenuItem" data-target="#results-download">Download files</a></li>
                </ul>
              </li>

              <li ><a href="#"  v-on:click="changeMenuItem" data-parent="#container-model-information" data-target="#model-log-output-container">View log file<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
              <!--
                  <li ><a href="#">Meta information<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
                  -->

            </ul>
          </div>
        </div>
      </nav>

      <!-- content for menu -->
      <div class="pull-left model-information col-lg-9" id="accordion" >

        <div class="panel-collapse collapse in" id="results-summary">
          <div class="panel-body">
            <h2>Summary</h2>

            <table class="table-default">
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>{{selModel.name}}</td>
                </tr>

                <tr>
                  <td>Model files</td>
                  <td>View <a href="{{selModel.workingdir}}">working directory</a></td>
                </tr>

                <tr>
                  <td>Status</td>
                  <td><span class="label label-default">{{selModel.status | capitalize }}</span></td>
                </tr>

                <tr>
                  <td>Time to finish</td>
                  <td>...</td>
                </tr>

                <tr>
                  <td>% Complete</td>
                  <td>...</td>
                </tr>

                <tr>
                  <td>Progress</td>
                  <td>
                    <div class="progress progress-incell">
                      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                        <!--{{selModel.fields.info.percent_completed}}-->
                      </div>
                    </div>
                  </td>
                </tr>



              </tbody>
            </table>


          </div>
        </div>


        <div class="panel-collapse collapse" id="results-channel-network">
          <div class="panel-body">
            <h2>Channel network</h2>

            <img v-bind:src="animationFrame" />
            <div class="btn-group">
                <button class="btn btn-primary" v-on:click="previousImageFrame('delta_fringe_images')"><span class="glyphicon glyphicon-backward"></span></button>
                <button class="btn btn-primary" v-show="isAnimating" v-on:click="stopImageFrame('delta_fringe_images')"><span class="glyphicon glyphicon-stop" ></span></button>
                <button class="btn btn-primary" v-show="isAnimating == false" v-on:click="playImageFrame('delta_fringe_images')"><span class="glyphicon glyphicon-play" ></span></button>
                <button class="btn btn-primary" v-on:click="nextImageFrame('delta_fringe_images')"><span class="glyphicon glyphicon-forward"></span></button>
            </div>

            <h4>Background information</h4>

            <p>
              Changed - This graph shows the network of the channel ... ...
            </p>
            </div>
            </div>

            <div class="panel-collapse collapse" id="results-delta-fringe">
              <div class="panel-body">
                <h2>Delta plain fringe</h2>

                <div>

                  <div class="text-center">
                    <img v-bind:src="animationFrame" />

                    <div >
                      <div class="btn-group">
                          <button class="btn btn-primary" v-on:click="previousImageFrame('delta_fringe_images')"><span class="glyphicon glyphicon-backward"></span></button>
                          <button class="btn btn-primary" v-show="isAnimating" v-on:click="stopImageFrame('delta_fringe_images')"><span class="glyphicon glyphicon-stop" ></span></button>
                          <button class="btn btn-primary" v-show="isAnimating == false" v-on:click="playImageFrame('delta_fringe_images')"><span class="glyphicon glyphicon-play" ></span></button>
                          <button class="btn btn-primary" v-on:click="nextImageFrame('delta_fringe_images')"><span class="glyphicon glyphicon-forward"></span></button>
                      </div>
                    </div>                    
                  </div>

                  
                </div>

                <h4>Background information</4>

            <p>
              Delta plain fringe information [ ... ]
            </p>
            </div>
            </div>

            <div class="panel-collapse collapse" id="results-download">
              <div class="panel-body">
                <h2>Download files</h2>

                <ul>
                  <li>Download model files</li>
                  <li>Download all images</li>
                  <li> ... </li>
                </ul>
              </div>
            </div>



<div class="panel-collapse collapse" id="model-log-output-container" >
  <div class="panel-body">
    <h2>Log output</h2>

    <button class="btn btn-primary" type="button" id="btn-copy-log-output" data-clipboard-target="#model-log-output">
      Copy log
    </button>

    <div id="model-log-output-wrap">
      <code id="model-log-output">
        {{logoutput}}
      </code>
    </div>
  </div>
</div>
</div>
</div>
</div>
</template>
