<template id="template-model-control-menu" inline-template>

  <div class="model-control-menu btn-group pull-right dropdown">
    <button class="btn btn-default" @click.stop="expandScenarios">
      <i class="fa" :class="[(collapseShow)? 'fa-arrow-down' : 'fa-arrow-up']" aria-hidden="true"></i>
    </button>

    <button type="button"
            class="btn btn-default dropdown-toggle nav-bar-button"
            :class="{disabled: numSelectedModels === 0 }"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      Selected ({{ numSelectedModels }})
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">

      <li :class="{disabled: numSelectedModels === 0 }">
        <a @click="startSelectedModels">
          <i class="fa fa-fw fa-play" aria-hidden="true"></i> Start model<span v-if="numSelectedModels > 1">s</span>
        </a>
      </li>

      <li :class="{disabled: numSelectedModels === 0 }">
        <a @click="stopSelectedModels">
          <i class="fa fa-fw fa-stop" aria-hidden="true"></i> Stop model<span v-if="numSelectedModels > 1">s</span>
        </a>
      </li>

      <li :class="{disabled: numSelectedModels === 0 }">
        <a @click="resetSelectedModels">
          <i class="fa fa-fw fa-fast-backward" aria-hidden="true"></i> Reset model<span v-if="numSelectedModels > 1">s</span>
        </a>
      </li>

      <li :class="{disabled: numSelectedModels === 0 }">
        <a @click="deleteSelectedModels">
          <i class="fa fa-fw fa-times" aria-hidden="true"></i> Delete model<span v-if="numSelectedModels > 1">s</span>
        </a>
      </li>

      <li role="separator" class="divider"></li>

      <li :class="{disabled: numSelectedModels === 0  || !someSelectedModelsAreFinished}">
        <a @click="shareSelectedModels('company')">
          <i class="fa fa-fw fa-group" aria-hidden="true"></i> Share model<span v-if="numSelectedModels > 1">s</span> with Company
        </a>
      </li>

      <li :class="{disabled: numSelectedModels === 0  || !someSelectedModelsAreFinished}">
        <a @click="shareSelectedModels('world')">
          <i class="fa fa-fw fa-globe" aria-hidden="true"></i> Share model<span v-if="numSelectedModels > 1">s</span> with World
        </a>
      </li>

      <li role="separator" class="divider"></li>

      <li :class="{disabled: numSelectedModels === 0 }">
        <div class="dropdown-menu-checkbox" @click="toggle('export_d3dinput', $event)">
          <input type="checkbox" class="downloadoption"  value="export_d3dinput" v-model="selectedDownloads.export_d3dinput" v-bind:disabled="numSelectedModels === 0"> Delft3D: input files
        </div>
      </li>

      <li :class="{disabled: numSelectedModels === 0 }">
        <div class="dropdown-menu-checkbox" @click="toggle('export_images', $event)">
          <input type="checkbox" class="downloadoption"  value="export_images" v-model="selectedDownloads.export_images" v-bind:disabled="numSelectedModels === 0"> Media: output images
        </div>
      </li>

      <li :class="{disabled: numSelectedModels === 0 }">
        <div class="dropdown-menu-checkbox" @click="toggle('export_thirdparty', $event)">
          <input type="checkbox" class="downloadoption"  value="export_thirdparty" v-model="selectedDownloads.export_thirdparty" v-bind:disabled="numSelectedModels === 0"> Media: output movies
        </div>
      </li>

      <li :class="{disabled: numSelectedModels === 0 || !someSelectedModelsAreFinished}">
        <div class="dropdown-menu-checkbox" @click="toggle('export_movie', $event)">
          <input type="checkbox" class="downloadoption"  value="export_movie" v-model="selectedDownloads.export_movie" v-bind:disabled="numSelectedModels === 0 || !someSelectedModelsAreFinished"> Export: RMS / Petrel
        </div>
      </li>

      <li :class="{disabled: numSelectedModels === 0 || !anyDownloadsSelected}">
        <a @click="downloadSelectedModels">
          <i class="fa fa-fw fa-download" aria-hidden="true"></i> Dowload data from model<span v-if="numSelectedModels > 1">s</span>
        </a>
      </li>

    </ul>

    <confirm-dialog dialog-id="delete-runs" confirm-button-title="Delete">
      <template slot="title">
        Remove model(s)?
      </template>
      <template slot="body">
        <p>Are you sure you want to delete <span v-if="numSelectedModels > 1">these models</span><span v-if="numSelectedModels == 1">this model</span>? This action cannot be undone.</p>
      </template>
    </confirm-dialog>

    <confirm-dialog dialog-id="share-runs" confirm-button-title="Share">
      <template slot="title">
        Share model(s)?
      </template>
      <template slot="body">
        <p>Are you sure you want to share <span v-if="numSelectedModels > 1">these models</span><span v-if="numSelectedModels == 1">this model</span>? This action cannot be undone.</p>
      </template>
    </confirm-dialog>

    <confirm-dialog dialog-id="reset-runs" confirm-button-title="Reset">
      <template slot="title">
        Reset model(s)?
      </template>
      <template slot="body">
        <p>Are you sure you want to reset <span v-if="numSelectedModels > 1">these models</span><span v-if="numSelectedModels == 1">this model</span>? This action cannot be undone.</p>
      </template>
    </confirm-dialog>

    <confirm-dialog dialog-id="stop-runs" confirm-button-title="Stop">
      <template slot="title">
        Stop model(s)?
      </template>
      <template slot="body">
        <p>Are you sure you want to stop <span v-if="numSelectedModels > 1">these models</span><span v-if="numSelectedModels == 1">this model</span>? This action cannot be undone.</p>
      </template>
    </confirm-dialog>

  </div>

</template>
