<template id="template-navbar">

    <nav class="navbar navbar-inverse navbar-default navbar-static-top" id="top-bar">

      <div class="container-fluid">

        <div class="navbar-header">

          <a href="/" class="navbar-brand">
            <img src="images/logo/delft3d-gt-logo.svg" alt="logo" id="logoimage"/> Global Tide and Surge Model
          </a>

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <div id="navbar" class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-left">
            <li :class="{'active': $route.path === '/'}"><a href="#" title="Create scenario">Database</a></li>
            <li :class="{'active': $route.path.startsWith('/scenarios/create') }"><a v-link="{ path: '/scenarios/create'}" title="Create scenario">Scenario builder</a></li>
          </ul>

          <user-details></user-details>

        </div>

      </div>

    </nav>

</template>
