<template id="template-scene-card">
  <div class="scene">
    <div v-if="scene">
      <span >{{scene.name}}</span>
      <span class="share-status-{{scene.shared}}"></span>

      <div class="progress-holder">
        <div class="progress">
          <div
             data-percentage="{{scene.progress}}%"
             :style="{ width: scene.progress + '%'}"
             class="progress-bar progress-bar-success"
             role="progressbar"
             aria-valuemin="0"
             aria-valuemax="100"></div>
        </div>
        <span>{{scene.state  | lowercase}}</span>
      </div>
    </div>
    <div v-else>
      scene missing
    </div>

  </div>
</template>
