re<template id="template-scenario-card">
  <div class="scenario">
    <div v-if="scenario">
      <div
         class="row scenario-header"
         >
        <div class="col-sm-8">
          <!-- <input type="checkbox"> -->
          Scenario: {{scenario.name}}
        </div>
        <div class="col-sm-4 text-right">
          <span class="label label-info">{{scenario.state | lowercase}}</span>
          <button
             class="btn btn-default btn-xs collapsed"
             type="button"
             data-toggle="collapse"
             data-target="#collapse-{{ scenario.id }}"
             aria-expanded="false"
             aria-controls="collapse-{{ scenario.id }}">



        </div>
      </div>
      <div class="row"
           class="collapse"
           id="collapse-{{ scenario.id }}"
           >
        <div
           class="col-sm-12"

           >
          <div v-if="scenario.models && scenario.models.length > 0">
            <div class="progress">
              <div
                 data-percentage="{{ scenario.progress }}%"
                 :style="{ width: scenario.progress + '%'}"
                 class="progress-bar progress-bar-success"
                 role="progressbar"
                 aria-valuemin="0"
                 aria-valuemax="100">
              </div>

            </div>
            <ul class="list-group">
              <li
                 class="list-group-item"
                 :class="{active: model.active}"
                 @click="this.toggleActive(model)"
                 v-for="model in scenario.models">
                <model-card
                   :model="model"
                   >
                </model-card>
              </li>
            </ul>

          </div>
          <div v-else>
            <p class="text-info">This scenario is empty</p>
          </div>
        </div>
      </div>

    </div>
    <div v-else>
      no scenario available
    </div>
  </div>

</template>
