<template id="template-scenario-builder">
  <div>

    <!-- the grey toolbar for scenario builder -->
    <nav class="navbar navbar-default navbar-static-top tool-bar" id="tool-bar">
      <div class="container-fluid">
        <div class="row" >
          <div class="col-xs-12">
            <div class="btn-toolbar">
              <!-- mixed button and a tags will be fixed soon! -->
              <button class=" btn btn-primary" id="scenario-submit" v-on:click="submitScenario" value="" v-bind:class="{ 'inputdisabled': formIsValid == false ||  this.totalRuns > 20}" >
                Submit
              </button>

              <a href="#/" class="btn btn-primary pull-left">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- User has to select a template first -->

    <div class="container-fluid" id="below-tool-bar">
      <div class="row">
        <div class="col-sm-12">
          <h2>Scenario builder</h2>
        </div>
      </div>

      <div class="row">
        <!-- 2 column layout, 1st column scenario properties -->
        <div class="col-sm-5">
          <!--  -->
          <div class="row" v-if="availableTemplates.length">
            <div class="col-sm-12">
              <div class="form-group ">
                <label for="select-template">Select a template</label>
                <select class="combobox form-control" v-model="template"  id="select-template">
                  <option v-for="template in availableTemplates" v-bind:value="template">
                    {{ template.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <!-- if user selected something, show GUI -->
          <div>
            <div>
              <!-- the vue validator config, stores form validation result in validation -->
              <validator name="validation">
                <form novalidate>
                  <div v-for="section in scenarioConfig.sections">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">{{section.name}}</h3>
                      </div>
                      <div class="panel-body">
                        <div class="form-group" v-for="variable in section.variables" v-bind:class="{'has-error': !($validation[variable.id].valid)}">
                          <label class="control-label" for="{{variable.id}}">
                            {{ variable.name }}
                            <!-- TODO: get rid of this space -->
                            <span v-if="variable.description" class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="{{variable.description}}"></span>

                            <span v-if="variable.validators.min !== undefined">
                              [{{ variable.validators.min }} - {{ variable.validators.max }}]
                            </span>
                          </label>
                          <div class="input-group">
                            <!-- two types of input for now: textarea and other -->
                            <!-- other first -->
                            <template v-if="variable.type !== 'textarea'">
                              <input

                                 type="{{ variable.type }}"
                                 class="form-control"
                                 id="{{ variable.id }}"
                                 :data-role="variable.factor ? 'tagsinput' : ''"
                                 v-model="variable.value"
                                 :disabled="variable.disabled"
                                 :field="variable.id"
                                 v-validate="variable.validators"
                                 aria-describedby="{{ variable.variableid }}status"
                                 >
                            </template>
                            <!-- text area -->
                            <template
                               v-if="variable.type === 'textarea'"
                               >
                              <textarea
                                 class="form-control"
                                 rows="3"
                                 :disabled="variable.disabled"
                                 :field="variable.id"
                                 v-validate="variable.validators"
                                 >{{ variable.value }}</textarea>
                            </template>
                            <!-- if we add this to 1 we need to add it to all, bug in bootstrap -->
                            <span class="input-group-addon">
                              {{ variable.units || '-' }}
                            </span>

                          </div>
                          <div v-if="$validation[variable.id]">
                            <p v-if="$validation[variable.id].required">required</p>
                            <p v-if="$validation[variable.id].min">value &lt; min</p>
                            <p v-if="$validation[variable.id].max">value &gt; max</p>
                          </div>
                        </div>


                      </div>
                    </div>


                  </div>
                </form>
                <!-- <pre> -->
                <!--   {{ $validation | json }} -->
                <!-- </pre> -->

              </validator>
            </div>


            <!-- expected runs indicator. It becomes a different color if the totalRuns exceed 20 -->
            <div class="row" >
              <div class="col-sm-12">
                <div class="alert alert-info" v-bind:class="{ 'alert-warning': totalRuns > 20}" role="alert">
                  <p class="lead">Expected runs: <strong>~{{totalRuns}}</strong></p>
                  <p v-if="totalRuns > 20">
                    At the moment you cannot submit more than 20 runs in one scenario.
                  </p>

                </div>
              </div>
            </div>

          </div>



        </div>


        <div class="col-sm-7">
          <div v-if="template">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Details for {{ template.name }} <small>id: {{ template.id }}</small></h3>
              </div>
              <!-- template details -->
              <div class="panel-body">
                <dl class="dl-horizontal">
                  <template v-for="(key, val) in template.meta">
                    <dt>{{ key }}</dt>
                    <dd>{{ val }}</dd>
                  </template>
                </dl>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Schematic</h3>
              </div>
              <!-- template details -->
              <div class="panel-body  text-center">
                <img src="images/schematic.svg" class="scenariobuilder-schematic" />
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</template>
