<template id="template-scenario-card">

  <div class="scenario-card">

    <template v-if="scenario">

      <div class="panel-heading">

        <div class="row">

          <div class="col-sm-8">
            <!-- <input type="checkbox"> -->
            <i class="fa fa-folder-o" aria-hidden="true" title="scenario"></i> {{scenario.name}}
          </div>

          <div class="col-sm-4 text-right">
            <span class="label label-info">{{scenario.state | lowercase}}</span>
            <button
               class="btn btn-default btn-xs collapsed"
               type="button"
               @click.stop="collapse"
               data-target="collapse-{{ scenario.id }}"
               />
          </div>

        </div>

      </div>

      <div class="collapse" id="collapse-{{ scenario.id }}">

        <div class="panel-body">

          <div class="row">

            <div class="col-sm-12">

              <div v-if="scenario.models && scenario.models.length > 0">

                <div class="progress">

                  <div
                     data-percentage="{{ scenario.progress }}%"
                     :style="{ width: scenario.progress + '%'}"
                     class="progress-bar progress-bar-success"
                     role="progressbar"
                     aria-valuemin="0"
                     aria-valuemax="100">
                  </div>

                </div>

                <ul class="list-group" data-toggle="items">

                  <li
                     class="list-group-item"
                     v-for="model in scenario.models"
                     @click.stop="toggleActive(model)"
                     :class="{active: model.active}"
                     >
                    <model-card
                       :model="model"
                       >
                    </model-card>
                  </li>

                </ul>

              </div>

              <div v-else>

                <p class="text-info">This scenario is empty</p>

              </div>

            </div>

          </div>

        </div>

      </div>

    </template>

    <template v-else>
      no scenario available
    </template>

  </div>

</template>
