<template id="template-scenario-card">
  <div>
    <div v-if="scenario">
      <div class="scenario-info">
        <div class="form-group">
          <div class="col-sm-2">
            <div class="checkbox">
              <label>
                <!-- selected -->
                <input type="checkbox">
              </label>
            </div>
          </div>
        </div>
        <div class="scenario-name">
          <span
             class=" glyphicon glyphicon-chevron-down"
             data-toggle="collapse">
          </span>
          Scenario: {{scenario.name}}
        </div>
        <div class="progress-holder">
          <div class="progress">
            <div
               data-percentage="{{ scenario.progress }}%"
               :style="{ width: scenario.progress + '%'}"
               class="progress-bar progress-bar-success"
               role="progressbar"
               aria-valuemin="0"
               aria-valuemax="100">
            </div>
          </div>
          <span>{{state | lowercase}}</span>
        </div>

        <div
           class="scenario-runs "
           :class="{collapse: collapsed }" >
          <div v-for="scene in scenario.scene_set">
            <scene-card :scene="scene" ></scene-card>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      no scenario available
    </div>
  </div>

</template>
