<template id="template-search-list" inline-template>

  <!-- loop through all scenarios -->

  <div class="search-list" data-toggle="items">

    <div class="list-divider">
      your scenarios
    </div>

    <div
       v-for="item in items"
       class="panel panel-default"
       @click.stop="toggleActive(item)"
       >
       <scenario-card
          v-if="item.type === 'scenario'"
          :scenario="item"
          ></scenario-card>

       <model-card
          v-if="item.type === 'model'"
          :model="item"
          ></model-card>
    </div>

    <div class="list-divider">
      shared with company
    </div>

    <div
       v-for="model in models"
       v-if="model.shared == 'c'"
       class="panel panel-default"
       @click.stop="toggleActive(item)"
       >
       <model-card :model="model"></model-card>
    </div>

    <div class="list-divider">
      shared with world
    </div>

    <div
       v-for="model in models"
       v-if="model.shared == 'w'"
       class="panel panel-default"
       @click.stop="toggleActive(item)"
       >
       <model-card :model="model"></model-card>
    </div>

  </ul>

  <!-- end search -->
</template>
