<template id="template-search-columns">

  <div class="search-columns full-height">
    <!-- ======================== TOOLBAR ======================== -->

    <div class="container-fluid">
      <div class="row action-bar">

        <div class="col-xs-1">
          <span class="btn-text">Search</span>
        </div>
        <div class="col-xs-1 text-right bordered">
          <button type="button" class="btn btn-default" id="btn-reset-search-form" v-on:click="resetFields">Reset</button>
        </div>

        <div class="col-xs-4 col-lg-3">
          <span class="btn-text">Database (search results)</span>
        </div>
        <div class="col-xs-1 bordered">
          <model-control-menu :items="items" :models="models"></model-control-menu>
        </div>

        <div class="col-xs-5 col-lg-6">
          <span class="btn-text">Model details</span>
        </div>
      </div>
    </div>

    <!-- ======================== COLUMNS ======================== -->

    <div class="container-fluid full-height">
      <div class="row full-height">

        <div class="col-xs-2 column  full-height bordered scrollable">
          <search-details></search-details>
        </div>

        <div class="col-xs-5 col-lg-4 column full-height bordered scrollable">
          <search-list :items="items" :models="models" v-ref:search-list></search-list>
        </div>

        <div class="col-xs-5 col-lg-6 column full-height scrollable">
          <model-details></model-details>
        </div>

      </div>
    </div>
  </div>


  <!-- Alert message component for display of timed messages -->
  <alert-message></alert-message>

</template>
