<template id="template-search-list" inline-template>

  <div class="model-list">

    <!-- new search block -->
    <div class="search-results"  v-show="models.length > 0">

      <!-- loop through all scenarios -->
      <div class="list-group checked-list-box" >

        <div  class="list-group-item">

          <scenario-card v-for="scenario in scenarios"></scenario-card>
          <!-- scenario info -->
          <!-- end scenario info block -->
          <scene-card v-for="scene in orphanScenes"></scene-card>

          </div>
        </div>

      </div>


    </div>
  </div>
  <!-- end search -->
</template>
