<template id="template-search-columns">
  <div class="search-columns">
    <div class="full-height">

      <!-- the grey toolbar for main screen-->
      <nav class="navbar navbar-default navbar-static-top tool-bar">
        <div class="container-fluid">
          <div class="row" >
            <div class="col-xs-2" id="column-search-details">
              <div class="btn-toolbar heading-bar" >
                Search <button type="button" class="btn pull-right nav-bar-button" id="btn-reset-search-form" v-on:click="resetFields">Reset</button>
              </div>
            </div>

            <div class="col-xs-5" id="column-search-results">
              <div class="btn-toolbar heading-bar">
                <span id="results-info">Database (search results)</span>  <span id="results-info-stats">({{numRuns}} {{numRuns | pluralize 'run'}} in {{numScenarios}} {{numScenarios | pluralize 'scenario'}})</span>

                <a class="btn pull-right nav-bar-button nav-bar-button-custom" title="Create scenario" href="#/scenarios/create">Create scenario</a>

                <model-control-menu :selected-runs="selectedRuns" :models="models" :selected-scenarios="selectedScenarios" ></model-control-menu>
              </div>
          </div>

          <div class="col-xs-5" id="column-run-details">
            <div class="btn-toolbar heading-bar" >
              Details
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Alert message component for display of timed messages -->
    <alert-message></alert-message>

    <div class="container-fluid full-height">
      <div class="row full-height">

        <div class="col-sm-2 column  full-height">
          <search-details></search-details>
        </div>

        <div class="col-sm-5 column full-height">

        <!-- for debugging, please leave for a moment.
          runs: {{selectedRuns|json}}
          cols: {{openedScenarios|json}}
          scenarios: {{selectedScenarios|json}}
        -->

         <search-list v-bind:opened-scenarios.sync="openedScenarios" filter="" :models="models" :selected-runs.sync="selectedRuns" :selected-scenarios.sync="selectedScenarios"></search-list>
        </div>


        <div class="col-sm-5 column full-height">
        <model-details></model-details>
        </div>

      </div>
    </div>
  </div>

 <!-- MODALS should be turned into an comopnent?-->

    <div class="modal default-hidden fade" id="dialog-confirm-delete-scenario" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Remove scenario?</h4>
          </div>
          <div class="modal-body">
            <p>
              Are you sure you want to remove this scenario?
            </p>

            <div class="alert alert-info" role="alert">
              <strong>All</strong> associated runs will also be removed.
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" id="dialog-remove-scenario-response-accept">Delete</button>
            <button type="button" class="btn btn-primary" id="dialog-remove-scenario-response-cancel" data-dismiss="modal">Cancel</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <!-- REMOVE FROM HERE -->

</div>


</template>
