<template id="template-viewer-threedee">
    <div id="viewer-3d" class="panel-body viewer-3d">
        <div class="btn-group btn-group-justified" v-if="!started || !isFinished">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-labeled btn-default btn-spaced-right" :class="{'disabled': !isFinished }" @click="start3dviewer">
                  <span class="btn-label"><i class="fa fa-fw fa-play" aria-hidden="true"></i></span> Start 3D Viewer <span v-if="!isFinished">(please wait for simulation to finish)</span>
                </button>
            </div>
        </div>

        <div class="row" v-if="started && isFinished">
            <div id="col-glcanvas-container" class="col-xs-11" :style="canvasStyle">
                <div id="glcanvas-container" class="glcanvas-container text-center" :style="canvasStyle" v-show="started && isFinished">
                    <canvas id="glcanvas" class="glcanvas">Your browser doesn't appear to support the <code>&lt;canvas&gt;</code> element.</canvas>
                </div>
            </div>
            <div class="col-xs-1">
                <div id="legend-container" class="legend-container text-center" v-show="started && isFinished">
                    <div clas="legend" :style="gradientStyle"></div>
                </div>
            </div>
        </div>

        <div class="text-center" v-if="started && isFinished">

            <div class="control-buttons">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-labeled btn-default btn-spaced-right" @click="camera('reset')">Reset</button>
                    <button type="button" class="btn btn-labeled btn-default btn-spaced-right" @click="camera('fit')">Fit</button>
                </div>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-labeled btn-default btn-spaced-right" @click="camera('front')">South</button>
                    <button type="button" class="btn btn-labeled btn-default btn-spaced-right" @click="camera('right')">West</button>
                    <button type="button" class="btn btn-labeled btn-default btn-spaced-right" @click="camera('back')">North</button>
                    <button type="button" class="btn btn-labeled btn-default btn-spaced-right" @click="camera('left')">East</button>
                </div>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-labeled btn-default btn-spaced-right" @click="camera('top')">Top</button>
                    <button type="button" class="btn btn-labeled btn-default btn-spaced-right" @click="camera('bottom')">Bottom</button>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-primary" @click="goStart">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                    </button>
                    <button type="button" class="btn btn-primary" @click="goPrev">
                        <span class="glyphicon glyphicon-backward"></span>
                    </button>
                    <button type="button" class="btn btn-primary">
                        {{ curTimeStep }}
                    </button>
                    <button type="button" class="btn btn-primary" @click="goNext">
                        <span class="glyphicon glyphicon-forward"></span>
                    </button>
                    <button type="button" class="btn btn-primary" @click="goEnd">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                </div>
            </div>

            <ul class="nav nav-tabs nav-justified">
                <template v-for="name in ['data', 'slices', 'colors']">
                    <li role="presentation" :class="{'active': tab === name}" @click.stop="setTab(name)"><a href="#">{{ name }}</a></li>
                </template>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" :class="{'active': tab === 'data'}">
                    <div class="form-horizontal">
                        <div class=form-group>
                            <label for="slice-x-w" class="col-lg-3 control-label">displacement variable</label>
                            <div class="col-lg-7">
                                <select class="form-control" v-model="dataSetVariables.displacement">
                                  <option selected>DP_BEDLYR</option>
                                </select>
                            </div>
                        </div>
                        <div class=form-group>
                            <label for="slice-x-w" class="col-lg-3 control-label">data variable</label>
                            <div class="col-lg-7">
                                <select class="form-control" v-model="dataSetVariables.data">
                                  <option selected>LYRFRAC</option>
                                  <option>MSED</option>
                                </select>
                            </div>
                        </div>
                        <div class=form-group>
                            <label for="slice-x-w" class="col-lg-3 control-label">bed level variable</label>
                            <div class="col-lg-7">
                                <select class="form-control" v-model="dataSetVariables.bedLevel">
                                  <option selected>DPS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" :class="{'active': tab === 'slices'}">
                    <div class="form-horizontal">
                        <div class=form-group>
                            <label for="slice-x-w" class="col-lg-3 control-label slider-label">slice X</label>
                            <div class="col-lg-7">
                                <input type="text" class="ion-range slice-x-w" id="slice-x-w" data-step="1" data-min="1" :data-max="dimensions.x" data-type="double" value="1,100"/>
                            </div>
                        </div>
                        <div class=form-group>
                            <label for="slice-y-w" class="col-lg-3 control-label slider-label">slice Y</label>
                            <div class="col-lg-7">
                                <input type="text" class="ion-range slice-y-w" id="slice-y-w" data-step="1" data-min="1" :data-max="dimensions.y" data-type="double" value="1,100"/>
                            </div>
                        </div>
                        <div class=form-group>
                            <label for="slice-z-w" class="col-lg-3 control-label slider-label">slice Z</label>
                            <div class="col-lg-7">
                                <input type="text" class="ion-range slice-z-w" id="slice-z-w" data-step="1" data-min="1" :data-max="dimensions.z" data-type="double" value="1,100"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" :class="{'active': tab === 'colors'}">
                    <div class="form-horizontal">
                        <div class=form-group v-for="point in gradient">
                            <label class="col-sm-3 control-label">color {{ $index }}</label>
                            <div class="col-sm-4">
                                <input class="pick-a-color form-control text-center" type="text" name="gradient-color" v-model="point.color">
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control text-center" type="text" name="gradient-position" v-model="point.position" lazy>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-default" @click="removePoint($index)" v-if="$index < gradient.length - 1">x</button>
                            </div>
                        </div>
                        <div class=form-group>
                            <div class="col-sm-offset-3 col-sm-6">
                                <button type="button" class="btn btn-default btn-block" @click="addPoint()">add color</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- tab-content -->

        </div>
    </div>
</template>
